<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head></head>

<th:block layout:fragment="customJs">
  <script th:inline="javascript">
      $(document).ready(function () {
          let error = /*[[${error}]]*/ null;
          if (error) {
              Swal.fire({
                  icon: 'error',
                  title: 'Fail!',
                  text: '로그인에 실패했습니다.'
              });
          }
      });
  </script>
</th:block>

<th:block layout:fragment="customContent">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form method="post" th:action="@{/auth/login}">
            <div class="alert alert-danger" id="error-alert" style="display: none;">
              <p></p>
            </div>
            <h1>로그인</h1>
            <div>
              <input class="form-control" name="username" placeholder="아이디" required="" type="text" value="user1"/>
            </div>
            <div>
              <input class="form-control" name="password" placeholder="비밀번호" required="" type="password"
                     value="password1"/>
            </div>
            <div>
              <button class="btn btn-primary w-100" type="submit">로그인</button>
            </div>
            <div class="mt-2">
              <a class="btn btn-primary w-100" th:href="@{/user/findPasswordUser}">비밀번호 찾기</a>
            </div>


            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">처음 방문이십니까?
                <a class="to_register" href="#signup" th:href="@{/user/addUser}"> 회원가입 </a>
              </p>

              <div class="clearfix"></div>
              <br/>

              <div>
                <h1><i class="fa fa-leaf"></i> Mush Cycle</h1>
                <p>©2023 친환경 그린 이코노미 플렛폼 Mush Cycle</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</th:block>

</html>
