<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.update-button').click(function() {
                let companyInfoIdx = $(this).closest('tr').find('td:eq(0)').text();
                let farmPickupRequestIdx = $(this).closest('tr').find('td:eq(1)').text();
                let form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "/user/farm/deliveryInsert");

                let input_companyInfoIdx = document.createElement("input");
                input_companyInfoIdx.setAttribute("type","hidden");
                input_companyInfoIdx.setAttribute("name","companyInfoIdx");
                input_companyInfoIdx.setAttribute("value",companyInfoIdx);
                form.appendChild(input_companyInfoIdx);

                let input_farmPickupRequestIdx = document.createElement("input");
                input_farmPickupRequestIdx.setAttribute("type","hidden");
                input_farmPickupRequestIdx.setAttribute("name","farmPickupRequestIdx");
                input_farmPickupRequestIdx.setAttribute("value",farmPickupRequestIdx);
                form.appendChild(input_farmPickupRequestIdx);

                document.body.appendChild(form); //form 태그 문서에 추가
                form.submit();
            });
        });
    </script>
</head>
<th:block layout:fragment="customContent">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>승인페이지</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <p class="text-muted font-13 m-b-30">
                                <code>수거신청확인 페이지</code>
                            </p>
                            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
                                <thead class="thead-dark">
                                <tr>
                                    <th hidden="hidden">comapanyInfoIdx</th>
                                    <th hidden="hidden">farmPickupRequestIdx</th>
                                    <th>폐배지 농장명</th>
                                    <th>수거 담당자 번호</th>
                                    <th>폐배지수거 주소</th>
                                    <th>중량</th>
                                    <th>승인신청 날짜</th>
                                    <th>승인상태</th>
                                    <th>배송상태</th>
                                </tr>
                                </thead>


                                <tbody>
                                <tr th:each="farmPickupList, farmPickupListIndex: ${farmPickupList}">
                                    <td hidden="hidden" th:text="${farmPickupList.companyInfoIdx}"></td>
                                    <td hidden="hidden" th:text="${farmPickupList.farmPickupRequestIdx}"></td>
                                    <td th:text="${farmPickupList.companyInfoName}"></td>
                                    <td th:text="${farmPickupList.farmPickupRequestPhone}"></td>
                                    <td th:text="${farmPickupList.farmPickupRequestAddress}"></td>
                                    <td th:text="${farmPickupList.farmPickupRequestAmount}+kg"></td>
                                    <td th:text="${farmPickupList.farmPickupRequestDate}"></td>
                                    <td th:if="${#strings.equals(farmPickupList.farmPickupConfirmStatus, 'Y')}">승인확인</td>
                                    <td th:if="${#strings.equals(farmPickupList.farmPickupConfirmStatus, '대기중')}">승인대기중</td>
                                    <td th:if="${#strings.equals(farmPickupList.farmPickupDeliveryStatus, 'N')}"><button class="update-button" type="button">발송</button></td>
                                    <td th:if="${#strings.equals(farmPickupList.farmPickupDeliveryStatus, 'Y')}">배송완료</td>
                                    <td th:if="${#strings.equals(farmPickupList.farmPickupDeliveryStatus, 'P')}">배송중</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>