<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">
<div th:fragment="searchFragment">
  <form th:action="@{/mushroom/conditionMushroom}" method="get">
    <label>
      <select name="searchKey">
        <option value="mushroomConditionIdx">버섯 종류코드</option>
        <option value="cropIdx">작물 고유코드</option>
      </select>
    </label>

    <label>
      <input type="text" name="searchValue" placeholder="검색어를 입력해주세요" />
    </label>
    <button type="submit">검색</button>
  </form>

</div>
</html>