<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.admin.coffee.mapper.CoffeeMapper">
    <resultMap id="coffeeRequestMap" type="ks46team01.common.coffee.dto.CoffeeRequestConfirm">
        <id column="coffee_request_confirm_idx" property="coffeeRequestConfirmIdx"/>
        <result column="username" property="userName"/>
        <result column="coffee_request_idx" property="coffeeRequestIdx"/>
        <result column="company_info_idx" property="companyInfoIdx"/>
        <result column="coffee_request_confirm_status" property="coffeeRequestConfirmStatus"/>
        <result column="coffee_request_confirm_content" property="coffeeRequestConfirmContent"/>
        <result column="admin_username" property="adminUsername"/>
        <result column="coffee_request_confirm_date" property="coffeeRequestConfirmDate"/>
    </resultMap>
    <select id="listCoffeeAdmin" resultType="ks46team01.common.coffee.dto.CoffeeRequest">
<!--        (운영자) 커피가루 수거신청 확인-->
        SELECT
        cr.coffee_request_idx as coffeeRequestIdx,
        cr.username as userName,
        cr.coffee_request_amount as coffeeRequestAmount,
        cr.coffee_request_address as coffeeRequestAddress,
        cr.coffee_request_phone as coffeeRequestPhone,
        cr.coffee_request_content as coffeeRequestContent,
        cr.coffee_request_date as coffeeRequestDate,
        ci.company_info_name as companyInfoName,
        ci.company_info_idx as companyInfoIdx
        FROM coffee_request AS cr
        INNER JOIN company_info AS ci ON cr.company_info_idx = ci.company_info_idx
        WHERE NOT EXISTS (
        SELECT 1
        FROM coffee_request_confirm AS crc
        WHERE cr.coffee_request_idx = crc.coffee_request_confirm_idx
        );
    </select>
<select id="listConfirmCoffee" resultMap="coffeeRequestMap">
<!--   (운영자)커피가루 컨펌확인 페이지-->
    SELECT
    ci.company_info_name as companyInfoName,
    crc.username,
    cr.coffee_request_phone as coffeeRequestPhone,
    cr.coffee_request_address as coffeeRequestAddress,
    cr.coffee_request_amount as coffeeRequestAmount,
    crc.coffee_request_confirm_date,
    crc.coffee_request_confirm_status,
    crc.coffee_request_confirm_content,
    crc.coffee_request_confirm_date,
    crc.admin_username
    FROM coffee_request_confirm AS crc
    INNER JOIN company_info ci ON ci.company_info_idx = crc.company_info_idx
    INNER JOIN coffee_request cr ON cr.coffee_request_idx = crc.coffee_request_idx;
</select>
    <select id="listConfirmCompanyInfo" resultType="ks46team01.common.coffee.dto.CompanyInfo">
        <!-- (운영자) 사업자 정보 확인-->
        SELECT
        ci.company_info_name as companyInfoName,
        ci.company_info_phone as companyInfoPhone,
        ci.company_info_address as companyInfoAddress
        FROM
        coffee_request_confirm crc
        INNER JOIN company_info ci
        ON ci.company_info_idx = crc.company_info_idx;
    </select>
    <insert id="insertConfirmCoffeeAdmin" parameterType="ks46team01.common.coffee.dto.CoffeeRequestConfirm">
        <!-- (운영자) 커피가루 수거신청 승인/거절-->
        INSERT INTO coffee_request_confirm(
        username,
        coffee_request_idx,
        company_info_idx,
        coffee_request_confirm_status,
        coffee_request_confirm_content,
        admin_username,
        coffee_request_confirm_date
        )VALUES(#{userName},#{coffeeRequestIdx},#{companyInfoIdx},#{coffeeRequestConfirmStatus},#{coffeeRequestConfirmContent},#{adminUsername},now());
    </insert>
    <select id="listCoffeeDelivery" resultType="ks46team01.common.coffee.dto.CoffeeDelivery">
        <!-- (운영자) 커피가루 배송상태 화인-->
        SELECT
        ci.company_info_name AS companyInfoName,
        cr.coffee_request_address AS coffeeRequestAddress,
        cr.coffee_request_amount AS coffeeRequestAmount,
        cr.coffee_request_phone AS coffeeRequestPhone,
        cd.coffee_delivery_idx AS coffeeDeliveryIdx,
        cd.coffee_request_idx AS coffeeRequestIdx,
        ci.company_info_idx AS companyInfoIdx,
        cd.username AS userName,
        cd.coffee_delivery_track AS coffeeDeliveryTrack,
        cd.coffee_delivery_status AS coffeeDeliveryStatus,
        cd.coffee_delivery_company AS coffeeDeliveryCompany,
        cd.coffee_delivery_complete AS coffeeDeliveryComplete
        FROM coffee_delivery AS cd
        INNER JOIN company_info ci
        ON cd.company_info_idx = ci.company_info_idx
        INNER JOIN coffee_request AS cr
        ON cr.coffee_request_idx = cd.coffee_request_idx;
    </select>
</mapper>