<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.admin.coffee.mapper.CoffeeMapper">
    <resultMap id="coffeeRequestMap" type="ks46team01.common.coffee.dto.CoffeeRequestConfirm">
        <id column="coffee_request_confirm_idx" property="coffeeRequestConfirmIdx"/>
        <result column="username" property="userName"/>
        <result column="coffee_request_idx" property="coffeeRequestIdx"/>
        <result column="company_info_idx" property="companyInfoIdx"/>
        <result column="coffee_request_confirm_status" property="coffeeRequestConfirmStatus"/>
        <result column="coffee_request_confirm_content" property="coffeeRequestConfirmContent"/>
        <result column="admin_username" property="adminUsername"/>
        <result column="coffee_request_confirm_date" property="coffeeRequestConfirmDate"/>
    </resultMap>
<select id="listConfirmCoffee" resultMap="coffeeRequestMap">
    SELECT
    coffee_request_confirm_idx,
    username,
    coffee_request_idx,
    company_info_idx,
    coffee_request_confirm_status,
    coffee_request_confirm_content,
    admin_username,
    coffee_request_confirm_date
    FROM coffee_request_confirm;
</select>
</mapper>