<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
    <script>
        $(document).ready(function () {
            $('body').on('click', '.add-button', function () {
                const row= $(this).closest('tr');
                const accountingPurchaseAdminIdx = row.find('td[data-key="accountingPurchaseAdminIdx"]').text();
                const companyIdx = row.find('td[data-key="companyIdx"]').text();
                const inventoryIdx = row.find('td[data-key="inventoryIdx"]').text();
                const companyContractIdx = row.find('td[data-key="companyContractIdx"]').text();
                const accountingPurchaseAdminDate = row.find('td[data-key="accountingPurchaseAdminDate"]').text();
                const accountingPurchaseAdminPrice = row.find('td[data-key="accountingPurchaseAdminPrice"]').text();
                const accountingPurchaseAdminAmount = row.find('td[data-key="accountingPurchaseAdminAmount"]').text();
                const accountingPurchaseAdminPayment = row.find('td[data-key="accountingPurchaseAdminPayment"]').text();
                const accountingPurchaseAdminSum = row.find('td[data-key="accountingPurchaseAdminSum"]').text();
                const adminUsername = row.find('td[data-key="adminUsername"]').text();
                const accountingPurchaseAdminUpdate = row.find('td[data-key="accountingPurchaseAdminUpdate"]').text();


                $('#add-accountingPurchaseAdminIdx').val(accountingPurchaseAdminIdx);
                $('#add-companyIdx').val(companyIdx);
                $('#add-inventoryIdx').val(inventoryIdx);
                $('#add-companyContractIdx').val(companyContractIdx);
                $('#add-accountingPurchaseAdminDate').val(accountingPurchaseAdminDate);
                $('#add-accountingPurchaseAdminPrice').val(accountingPurchaseAdminPrice);
                $('#add-accountingPurchaseAdminAmount').val(accountingPurchaseAdminAmount);
                $('#add-accountingPurchaseAdminPayment').val(accountingPurchaseAdminPayment)
                $('#add-accountingPurchaseAdminSum').val(accountingPurchaseAdminSum);
                $('#add-adminUsername').val(adminUsername);
                $('#add-accountingPurchaseAdminUpdate').val(accountingPurchaseAdminUpdate);

                // 모달 보여짐
                $('#addAcPurchaseModal').modal('show');
            });

            $('body').on('click', '.edit-button', function () {
                const row= $(this).closest('tr');
                const accountingPurchaseAdminIdx = row.find('td[data-key="accountingPurchaseAdminIdx"]').text();
                const companyIdx = row.find('td[data-key="companyIdx"]').text();
                const inventoryIdx = row.find('td[data-key="inventoryIdx"]').text();
                const companyContractIdx = row.find('td[data-key="companyContractIdx"]').text();
                const accountingPurchaseAdminDate = row.find('td[data-key="accountingPurchaseAdminDate"]').text();
                const accountingPurchaseAdminPrice = row.find('td[data-key="accountingPurchaseAdminPrice"]').text();
                const accountingPurchaseAdminAmount = row.find('td[data-key="accountingPurchaseAdminAmount"]').text();
                const accountingPurchaseAdminPayment = row.find('td[data-key="accountingPurchaseAdminPayment"]').text();
                const accountingPurchaseAdminSum = row.find('td[data-key="accountingPurchaseAdminSum"]').text();
                const adminUsername = row.find('td[data-key="adminUsername"]').text();
                const accountingPurchaseAdminUpdate = row.find('td[data-key="accountingPurchaseAdminUpdate"]').text();


                $('#modify-accountingPurchaseAdminIdx').val(accountingPurchaseAdminIdx);
                $('#modify-companyIdx').val(companyIdx);
                $('#modify-inventoryIdx').val(inventoryIdx);
                $('#modify-companyContractIdx').val(companyContractIdx);
                $('#modify-accountingPurchaseAdminDate').val(accountingPurchaseAdminDate);
                $('#modify-accountingPurchaseAdminPrice').val(accountingPurchaseAdminPrice);
                $('#modify-accountingPurchaseAdminAmount').val(accountingPurchaseAdminAmount);
                $('#modify-accountingPurchaseAdminPayment').val(accountingPurchaseAdminPayment);
                $('#modify-accountingPurchaseAdminSum').val(accountingPurchaseAdminSum);
                $('#modify-adminUsername').val(adminUsername);
                $('#modify-accountingPurchaseAdminUpdate').val(accountingPurchaseAdminUpdate);

                // 모달 보여짐
                $('#modifyAcPurchaseModal').modal('show');
            });

            $('body').on('click', '.delete-button', function () {
                const accountingPurchaseAdminIdx = $(this).closest('tr').find('td[data-key="accountingPurchaseAdminIdx"]').text();

                $.ajax({
                    type: 'POST',
                    url: '/admin/accounting/purchase/delete/purchaseAccountingDelete',
                    data: { accountingPurchaseAdminIdx: accountingPurchaseAdminIdx },
                    success: function (response) {
                        alert('삭제성공');
                        location.href = '/admin/accounting/purchase/purchaseAccounting'; // 페이지 다시 로드
                        $('button[data-accountingPurchaseAdminIdx="' + accountingPurchaseAdminIdx + '"]').closest('tr').remove();
                    },
                    error: function () {
                        alert('삭제실패');

                    }
                });
            });
        });
        $(document).ready(function() {
            $('#datatable-custom').DataTable({
                pagination: false,
                searching: false,
                lengthChange: false
            });

        });
        //검색
        $(document).ready(function() {
            // 검색 버튼 클릭 시
            $('#search-btn').click(function(e) {
                e.preventDefault();
                const searchType = $('select.form-select').val();
                const searchValue = $('input.form-control').val().trim().toLowerCase();

                if (searchValue === '') {
                    // 검색어가 비어 있을 경우, 모든 행을 보여줌
                    $('table tbody tr').show();
                } else {
                    // 검색어와 유사한 값을 포함하는 행을 찾아 보여줌
                    $('table tbody tr').each(function() {
                        let searchKey = '';
                        switch (searchType) {
                            case '1':
                                searchKey = 'accountingPurchaseAdminIdx';
                                break;
                            case '2':
                                searchKey = 'companyIdx';
                                break;
                            case '3':
                                searchKey = 'inventoryIdx';
                                break;
                            case '4':
                                searchKey = 'companyContractIdx';
                                break;
                            case '5':
                                searchKey = 'adminUsername';
                                break;
                            default:
                                break;
                        }
                        const columnValue = $(this).find(`td[data-key="${searchKey}"]`).text().trim().toLowerCase();
                        if (columnValue.includes(searchValue)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
            });
        });
    </script>

</th:block>

<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="my-4">관리자 회계 매입 자료 </h2>
                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row mb-3">

                        <div class="col-md-6" >
                            <form id="search-form"  th:action="@{/admin/accounting/purchase/purchaseAccounting}" method="get">
                                <div class="input-group">
                                    <select class="form-select" size="1" aria-label="size 3 select example">
                                        <option selected>선택</option>
                                        <option value="1">회계관리 매입 고유번호</option>
                                        <option value="2">사업장 고유코드</option>
                                        <option value="3">재고물품고유번호</option>
                                        <option value="4">사업자 계약 신청관리</option>
                                        <option value="5">운영자 아이디</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="검색어를 입력하세요" name="accountingPurchaseAdminIdx">
                                    <div class="input-group-append">
                                        <button  id="search-btn" class="btn btn-outline-secondary" type="submit">검색</button>
                                        <a class="btn btn-outline-secondary" id="clean-btn" th:href="@{/admin/accounting/purchase/purchaseAccounting}">초기화</a>
                                    </div>
                                </div>
                            </form>
                            <div style="display: flex;">
                                <button class="add-button" type="submit">등록</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">
                                    <div id="datatable-buttons_wrapper"
                                         class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
                                        <table id="datatable-custom"
                                               class="table table-striped table-bordered dataTable no-footer dtr-inline"
                                               style="width: 100%; " role="grid">
                                            <thead>
                                            <tr role="row">
                                                <th>회계관리 매입 고유번호</th>
                                                <th>사업장 고유코드</th>
                                                <th>재고물품고유번호</th>
                                                <th>사업자 계약 신청관리</th>
                                                <th>거래일자</th>
                                                <th>거래단가</th>
                                                <th>매입거래량</th>
                                                <th>결제유형</th>
                                                <th>매입액</th>
                                                <th>운영자아이디</th>
                                                <th>수정날짜</th>
                                                <th>수정</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd" th:each="l:${ap}" >
                                                <td data-key="accountingPurchaseAdminIdx" th:text="${l.accountingPurchaseAdminIdx}"></td>
                                                <td data-key="companyIdx" th:text="${l.companyIdx}"></td>
                                                <td data-key="inventoryIdx" th:text="${l.inventoryIdx}"></td>
                                                <td data-key="companyContractIdx" th:text="${l.companyContractIdx}"></td>
                                                <td data-key="accountingPurchaseAdminDate" th:text="${#dates.format(l.accountingPurchaseAdminDate,'yyyy-MM-dd')}"></td>
                                                <td data-key="accountingPurchaseAdminPrice" th:text="${l.accountingPurchaseAdminPrice}"></td>
                                                <td data-key="accountingPurchaseAdminAmount" th:text="${l.accountingPurchaseAdminAmount}"></td>
                                                <td data-key="accountingPurchaseAdminPayment" th:text="${l.accountingPurchaseAdminPayment}"></td>
                                                <td data-key="accountingPurchaseAdminSum" th:text="${l.accountingPurchaseAdminSum}"></td>
                                                <td data-key="adminUsername" th:text="${l.adminUsername}"></td>
                                                <td data-key="accountingPurchaseAdminUpdate" th:text="${#dates.format(l.accountingPurchaseAdminUpdate,'yyyy-MM-dd')}"></td>


                                                <td>
                                                    <button type="button" class="edit-button">수정</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="delete-button">삭제</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!-- 회원등록 모달 -->

                                        <div class="modal fade" id="addAcPurchaseModal" tabindex="-1" role="dialog" aria-labelledby="addAcPurchaseModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="addAcPurchaseModalLabel">등록</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/admin/accounting/purchase/purchaseAccountingAdd}" method="post">
                                                            <input type="hidden" id="add-accountingPurchaseAdminIdx" name="accountingPurchaseAdminIdx">

                                                            <div class="form-group">
                                                                <label for="add-companyIdx">companyIdx</label>
                                                                <select class="form-control" id="add-companyIdx" name="companyIdx"  required>
                                                                    <option value="" disabled selected>companyIdx 을 선택하세요</option>
                                                                    <th:block th:each="c : ${companies}">
                                                                        <option th:value="${c.companyIdx}">[[${c.companyIdx}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-inventoryIdx">inventoryIdx</label>
                                                                <select class="form-control" id="add-inventoryIdx" name="inventoryIdx"  required>
                                                                    <option value="" disabled selected>inventoryIdx 을 선택하세요</option>
                                                                    <th:block th:each="i : ${inventories}">
                                                                        <option th:value="${i.inventoryIdx}">[[${i.inventoryIdx}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-companyContractIdx">companyContractIdx</label>
                                                                <select class="form-control" id="add-companyContractIdx" name="companyContractIdx"  required>
                                                                    <option value="" disabled selected>companyContractIdx 을 선택하세요</option>
                                                                    <th:block th:each="cc : ${companyContracts}">
                                                                        <option th:value="${cc.companyContractIdx}">[[${cc.companyContractIdx}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="add-accountingPurchaseAdminDate">accountingPurchaseAdminDate</label>
                                                                <input type="date" class="form-control" id="add-accountingPurchaseAdminDate" name="accountingPurchaseAdminDateS" placeholder="accountingPurchaseAdminDate 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-accountingPurchaseAdminPrice">accountingPurchaseAdminPrice</label>
                                                                <input type="text" class="form-control" id="add-accountingPurchaseAdminPrice" name="accountingPurchaseAdminPrice" placeholder="accountingPurchaseAdminPrice 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-accountingPurchaseAdminAmount">accountingPurchaseAdminAmount</label>
                                                                <input type="text" class="form-control" id="add-accountingPurchaseAdminAmount" name="accountingPurchaseAdminAmount" placeholder="accountingPurchaseAdminAmount 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-accountingPurchaseAdminPayment">accountingPurchaseAdminPayment</label>
                                                                <input type="text" class="form-control" id="add-accountingPurchaseAdminPayment" name="accountingPurchaseAdminPayment" placeholder="accountingPurchaseAdminPayment 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-accountingPurchaseAdminSum">accountingPurchaseAdminSum</label>
                                                                <input type="text" class="form-control" id="add-accountingPurchaseAdminSum" name="accountingPurchaseAdminSum" placeholder="accountingPurchaseAdminSum 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-adminUsername">adminUsername</label>
                                                                <select class="form-control" id="add-adminUsername" name="adminUsername"  required>
                                                                    <option value="" disabled selected>adminUsername 을 선택하세요</option>
                                                                    <th:block th:each="a : ${admins}">
                                                                        <option th:value="${a.adminUsername}">[[${a.adminUsername}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>


                                                            <button type="submit" class="btn btn-primary">등록</button>
                                                            <button type="reset" class="btn btn-warning">취소</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 회원등록 모달 -->

                                        <!-- 회원수정 모달 -->
                                        <div class="modal fade" id="modifyAcPurchaseModal" tabindex="-1" role="dialog" aria-labelledby="modifyAcPurchaseModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modifyAcPurchaseModalLabel">수정</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/admin/accounting/purchase/purchaseAccountingModify}" method="post">
                                                            <input type="hidden" id="modify-accountingPurchaseAdminIdx" name="accountingPurchaseAdminIdx">
                                                            <div class="form-group">
                                                                <label for="modify-companyIdx">companyIdx 고유코드</label>
                                                                <select class="form-control" id="modify-companyIdx" name="companyIdx"  required>
                                                                    <option value="companyIdx" disabled selected>companyIdx을 선택하세요</option>
                                                                    <th:block th:each="c : ${companies}">
                                                                        <option th:value="${c.companyIdx}">[[${c.companyIdx}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-inventoryIdx">inventoryIdx 고유코드</label>
                                                                <select class="form-control" id="modify-inventoryIdx" name="inventoryIdx"  required>
                                                                    <option value="inventoryIdx" disabled selected>inventoryIdx 을 선택하세요</option>
                                                                    <th:block th:each="i : ${inventories}">
                                                                        <option th:value="${i.inventoryIdx}">[[${i.inventoryIdx}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-companyContractIdx">companyContractIdx 고유코드</label>
                                                                <select class="form-control" id="modify-companyContractIdx" name="companyContractIdx"  required>
                                                                    <option value="companyContractIdx" disabled selected> companyContractIdx 을 선택하세요</option>
                                                                    <th:block th:each="cc : ${companyContracts}">
                                                                        <option th:value="${cc.companyContractIdx}">[[${cc.companyContractIdx}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-accountingPurchaseAdminDate">accountingPurchaseAdminDate</label>
                                                                <input type="date" class="form-control" id="modify-accountingPurchaseAdminDate" name="accountingPurchaseAdminDateS" placeholder="accountingPurchaseAdminDate 을 입력하세요" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-accountingPurchaseAdminPrice">accountingPurchaseAdminPrice</label>
                                                                <input type="number" class="form-control" id="modify-accountingPurchaseAdminPrice" name="accountingPurchaseAdminPrice" placeholder="accountingPurchaseAdminPrice 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-accountingPurchaseAdminAmount">accountingPurchaseAdminAmount</label>
                                                                <input type="text" class="form-control" id="modify-accountingPurchaseAdminAmount" name="accountingPurchaseAdminAmount" placeholder="accountingPurchaseAdminAmount 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-accountingPurchaseAdminPayment">accountingPurchaseAdminPayment</label>
                                                                <input type="text" class="form-control" id="modify-accountingPurchaseAdminPayment" name="accountingPurchaseAdminPayment" placeholder="accountingPurchaseAdminPayment 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-accountingPurchaseAdminSum">accountingPurchaseAdminSum</label>
                                                                <input type="number" class="form-control" id="modify-accountingPurchaseAdminSum" name="accountingPurchaseAdminSum" placeholder="accountingPurchaseAdminSum 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-adminUsername">adminUsername 고유코드</label>
                                                                <select class="form-control" id="modify-adminUsername" name="adminUsername"  required>
                                                                    <option value="adminUsername" disabled selected> adminUsername 을 선택하세요</option>
                                                                    <th:block th:each="a : ${admins}">
                                                                        <option th:value="${a.adminUsername}">[[${a.adminUsername}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>







                                                            <button type="submit" class="btn btn-primary">저장</button>
                                                            <button type="reset" class="btn btn-warning">취소</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 회원수정 모달 -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>



