<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team01.user.farm.mapper.UserFarmMapper">
    <select id="listFarmDelivery" resultType="ks46team01.common.farm.dto.FarmData" parameterType="String">
        SELECT
        ci.company_info_name AS companyInfoName,
        fpr.farm_pickup_request_phone AS farmPickupRequestPhone,
        fpr.farm_pickup_request_address AS farmPickupRequestAddress,
        fpr.farm_pickup_request_amount AS farmPickupRequestAmount,
        fpr.farm_pickup_request_date AS farmPickupRequestDate,
        COALESCE(fpd.farm_pickup_delivery_status , '대기중') AS farmPickupDeliveryStatus
        FROM
        farm_pickup_request fpr
        INNER JOIN company_info ci
        ON fpr.company_info_idx = ci.company_info_idx
        LEFT JOIN farm_pickup_delivery fpd
        ON fpd.farm_pickup_request_idx = fpr.farm_pickup_request_idx
        WHERE fpr.username = #{userId};
    </select>
    <select id="listFarmPickup" resultType="ks46team01.common.farm.dto.FarmData" parameterType="String">
        SELECT
        ci.company_info_name AS companyInfoName,
        fpr.farm_pickup_request_phone AS farmPickupRequestPhone,
        fpr.farm_pickup_request_address AS farmPickupRequestAddress,
        fpr.farm_pickup_request_amount AS farmPickupRequestAmount,
        fpr.farm_pickup_request_date AS farmPickupRequestDate,
        COALESCE(fpc.farm_pickup_confirm_status , '대기중') AS farmPickupConfirmStatus
        FROM farm_pickup_request fpr
        LEFT JOIN farm_pickup_confirm fpc
        ON fpr.farm_pickup_request_idx = fpc.farm_pickup_request_idx
        INNER JOIN company_info ci
        ON ci.company_info_idx = fpr.company_info_idx
        WHERE fpr.username = #{userId};
    </select>
    <select id="farmInfo" resultType="ks46team01.common.farm.dto.FarmData" parameterType="String">
        SELECT
        mfd.farm_data_idx AS farmDataIdx,
        mfd.company_info_idx AS companyInfoIdx
        FROM
        mushroom_farm_data mfd
        INNER JOIN company_info ci
        ON mfd.company_info_idx = ci.company_info_idx
        WHERE mfd.username = #{userId};
    </select>
    <insert id="insertFarmPickup" parameterType="map">
        INSERT INTO farm_pickup_request(
        farm_data_idx,
        username,
        company_info_idx,
        farm_pickup_request_amount,
        farm_pickup_request_phone,
        farm_pickup_request_address,
        farm_pickup_request_content,
        farm_pickup_request_date
        )VALUES(#{farmDataIdx},#{userId},#{companyInfoIdx},#{amount},#{phone},#{address},#{message},now());

    </insert>
</mapper>