<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.mushroom.mushroomPastData.mapper.FarmPastDataMapper">
    <resultMap id="FarmPastData" type="ks46team01.mushroom.mushroomPastData.dto.FarmPastData" >
        <id column="past_data_idx"                           property="pastDataIdx"/>
        <result column="username"                            property="username"/>
        <result column="company_info_idx"                    property="companyInfoIdx"/>
        <result column="crop_idx"                            property="cropIdx"/>
        <result column="crop_type"                           property="cropType"/>
        <result column="past_data_mushroom_production"       property="pastDataMushroomProduction"/>
        <result column="past_data_total_revenue"             property="pastDataTotalRevenue"/>
        <result column="past_data_badge_use"                 property="pastDataBadgeUse"/>
        <result column="past_data_year"                      property="pastDataYear"/>
        <result column="past_data_use"                       property="pastDataUse"/>
        <result column="past_data_comparison"                property="pastDataComparison"/>
        <result column="past_data_date"                      property="pastDataDate"/>
    </resultMap>


    <select id="getListFarmPastData" resultType="ks46team01.mushroom.mushroomPastData.dto.FarmPastData">
        /*조회*/
        SELECT
        m.past_data_idx                         as pastDataIdx
        , m.username                            as username
        , c.company_info_license_number         as companyInfoLicenseNumber
        , cr.crop_type                          as cropType
        , m.past_data_mushroom_production       as pastDataMushroomProduction
        , m.past_data_total_revenue             as pastDataTotalRevenue
        , m.past_data_badge_use                 as pastDataBadgeUse
        , m.past_data_year                      as pastDataYear
        , m.past_data_use                       as pastDataUse
        , m.past_data_comparison                as pastDataComparison
        , m.past_data_date                      as pastDataDate

        FROM mushroom_past_data m
        INNER JOIN crop cr ON m.crop_idx = cr.crop_idx
        INNER JOIN company_info c ON m.company_info_idx = c.company_info_idx
        INNER JOIN user u ON m.username = u.username

    </select>
    <select id="getUsernameInfo" resultType="ks46team01.user.info.dto.UserDTO">
        /* user 테이블 조회 */
        SELECT
            username
            , name
            , birth
            , email
            , phone
            , address
        FROM
            user
    </select>
    <select id="getCropIdx" resultType="ks46team01.crop.dto.Crop">
        /* crop 테이블 조회 */
        SELECT
        crop_idx            as cropIdx
        ,crop_type          as cropType
        , crop_content      as cropContent
        FROM
            crop
    </select>
    <select id="getCompanyInfo" resultType="ks46team01.common.company.info.dto.CompanyInfoDTO">
        /* CompanyInfo 테이블 조회*/
    SELECT
        company_info_idx                as companyInfoIdx
        , company_info_name             as companyInfoName
        , company_info_license_number   as companyInfoLicenseNumber
        , company_info_address          as companyInfoAddress
        , company_info_phone            as companyInfoPhone
    FROM
        company_info
    </select>


    <insert id="addFarmPastData" parameterType="ks46team01.mushroom.mushroomPastData.dto.FarmPastData">
        /* 입력 */
        INSERT INTO
        mushroom_past_data
            (past_data_idx
            , username
            , company_info_idx
            , crop_idx
            , past_data_mushroom_production
            , past_data_total_revenue
            , past_data_badge_use
            , past_data_year
            , past_data_use
            , past_data_comparison
            , past_data_date)

            VALUES (
            #{pastDataIdx}
            , #{username}
            , #{companyInfoIdx}
            , #{cropIdx}
            , #{pastDataMushroomProduction}
            , #{pastDataTotalRevenue}
            , #{pastDataBadgeUse}
            , #{pastDataYear}
            , '사용'
            , #{pastDataComparison}
            , curdate()
            )
    </insert>


    <select id="getFarmPastDataInfoById" parameterType="String" resultMap="FarmPastData">
        /*특정회원 조회*/
        SELECT
        past_data_idx
        , username
        , company_info_idx
        , crop_idx
        , past_data_mushroom_production
        , past_data_total_revenue
        , past_data_badge_use
        , past_data_year
        , past_data_use
        , past_data_comparison
        , past_data_date

        FROM
        mushroom_past_data
        WHERE
        past_data_idx = #{pastDataIdx}

    </select>

    <update id="modifyFarmPastData"  parameterType="ks46team01.mushroom.mushroomPastData.dto.FarmPastData">
        /* 정보 수정*/
        UPDATE mushroom_past_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="companyInfoIdx != null and companyInfoIdx != ''">
                company_info_idx = #{companyInfoIdx},
            </if>
            <if test="cropIdx != null and cropIdx != ''">
                crop_idx = #{cropIdx},
            </if>
            <if test="pastDataMushroomProduction != null and pastDataMushroomProduction != ''">
                past_data_mushroom_production = #{pastDataMushroomProduction},
            </if>
            <if test="pastDataTotalRevenue != null and pastDataTotalRevenue != ''">
                past_data_total_revenue = #{pastDataTotalRevenue},
            </if>
            <if test="pastDataBadgeUse != null and pastDataBadgeUse != ''">
                past_data_badge_use = #{pastDataBadgeUse},
            </if>
            <if test="pastDataYear != null and pastDataYear != ''">
                past_data_year = #{pastDataYear},
            </if>
            <if test="pastDataUse != null and pastDataUse != ''">
                past_data_use = #{pastDataUse},
            </if>
            <if test="pastDataComparison != null and pastDataComparison != ''">
                past_data_comparison = #{pastDataComparison},
            </if>
            past_data_date=NOW()
        </trim>
        WHERE
        past_data_idx = #{pastDataIdx};
    </update>





    <select id="getFarmPastDataInfoByDeleteId" parameterType="Long" resultMap="FarmPastData">
       /* 삭제 대상 회원 조회*/
        SELECT
            past_data_idx
            , username
            , company_info_idx
            , crop_idx
            , past_data_mushroom_production
            , past_data_total_revenue
            , past_data_badge_use
            , past_data_year
            , past_data_use
            , past_data_comparison
            , past_data_date
        FROM
            mushroom_past_data
        WHERE
            past_data_idx = #{pastDataIdx}

    </select>

    <delete id="deleteFarmPastDataByIdx" parameterType="ks46team01.mushroom.mushroomPastData.dto.FarmPastData">
       /* 삭제*/
        DELETE
        FROM
             mushroom_past_data
        WHERE
             past_data_idx=#{pastDataIdx}
    </delete>


</mapper>