<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .dataTables_wrapper .dataTables_filter {
            float: left;
            text-align: left;
        }
    </style>
</head>

<th:block layout:fragment="customJs">
    <script>
        $(document).ready(function () {
            $('body').on('click', '.add-button', function () {
                const row = $(this).closest('tr');
                const companyUnitIdx = row.find('td[data-key="companyUnitIdx"]').text();
                const companyUnitYear = row.find('td[data-key="companyUnitYear"]').text();
                const companyUnitAmount = row.find('td[data-key="companyUnitAmount"]').text();
                const companyUnitPrice = row.find('td[data-key="companyUnitPrice"]').text();

                $('#add-companyUnitIdx').val(companyUnitIdx);
                $('#add-companyUnitYear').val(companyUnitYear);
                $('#add-companyUnitAmount').val(companyUnitAmount);
                $('#add-companyUnitPrice').val(companyUnitPrice);
                // 모달 보여짐
                $('#addUnitModal').modal('show');
            });

            $('body').on('click', '.edit-button', function () {
                const row = $(this).closest('tr');
                const companyUnitIdx = row.find('td[data-key="companyUnitIdx"]').text();
                const companyUnitYear = row.find('td[data-key="companyUnitYear"]').text();
                const companyUnitAmount = row.find('td[data-key="companyUnitAmount"]').text();
                const companyUnitPrice = row.find('td[data-key="companyUnitPrice"]').text();

                $('#edit-companyUnitIdx').val(companyUnitIdx);
                $('#edit-companyUnitYear').val(companyUnitYear);
                $('#edit-companyUnitAmount').val(companyUnitAmount);
                $('#edit-companyUnitPrice').val(companyUnitPrice);
                // 모달 보여짐
                $('#editUnitModal').modal('show');
            });

            $('body').on('click', '.delete-button', function () {
                const companyUnitIdx = $(this).closest('tr').find('td[data-key="companyUnitIdx"]').text();

                $.ajax({
                    type: 'POST',
                    url: '/admin/companies/unit/delete/' + companyUnitIdx,
                    success: function (response) {
                        alert('삭제성공');
                        $('button[data-companyUnitIdx="' + companyUnitIdx + '"]').closest('tr').remove();
                    },
                    error: function () {
                        alert('FK 제약조건 에러');
                    },
                });
            });

        $('#datatable-custom').DataTable({
            pagination: false,
            searching: true,
            lengthChange: false,
            dom: "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
        });
    });
    </script>
</th:block>

<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="my-4">사업자 단가관리</h2>

                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                            </div>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>

                <div style="display: flex;">
                    <button class="btn btn-outline-secondary add-button" type="submit">사업자코드등록</button>
                </div>

                <div class="x_content">
                    <div class="row mb-3">
                        <div class="col-md-6">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">
                                    <div class="dataTables_wrapper container-fluid dt-bootstrap no-footer"
                                         id="datatable-buttons_wrapper">

                                        <table aria-describedby="datatable-buttons_info"
                                               class="table table-striped table-bordered dataTable no-footer dtr-inline"
                                               id="datatable-custom" role="grid"
                                               style="width: 100%;">
                                            <thead class="thead-dark">
                                            <tr role="row">
                                                <th style="display: none">사업자계약단가코드</th>
                                                <th>사업자종류</th>
                                                <th>단가년도</th>
                                                <th>단가중량(kg)</th>
                                                <th>단가금액(원)</th>
                                                <th>운영자아이디</th>
                                                <th>운영자등록/수정날짜</th>
                                                <th>수정</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="companyUnit : ${companyUnitList}">
                                                <td data-key="companyUnitIdx" class="odd" role="row" style="display: none"
                                                    th:text="${companyUnit[0]}"></td>
                                                <td data-key="companyType" th:text="${companyUnit[7]}"></td>
                                                <td data-key="companyUnitYear" th:text="${companyUnit[4]}"></td>
                                                <td data-key="companyUnitAmount" th:text="${companyUnit[2]}"></td>
                                                <td data-key="companyUnitPrice" th:text="${companyUnit[3]}"></td>
                                                <td data-key="adminUsername" th:text="${companyUnit[5].adminUsername}"></td>
                                                <td data-key="companyUnitDate" th:text="${companyUnit[6]}"></td>
                                                <td>
                                                    <button type="button" class="edit-button">수정</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="delete-button">삭제</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!-- 단가입력 모달 -->
                                        <div aria-hidden="true" aria-labelledby="addUnitModalLabel"
                                             class="modal fade" id="addUnitModal"
                                             role="dialog" tabindex="-1">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="addUnitModalLabel">사업자 단가
                                                            입력</h5>
                                                        <button aria-label="Close" class="close" data-dismiss="modal"
                                                                type="button">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" th:action="@{/admin/companies/unit/addCompanyUnit}">
                                                            <input type="hidden" id="add-companyUnitIdx" name="companyUnitIdx" />
                                                            <div class="form-group">
                                                                <label for="add-companyIdx">사업자종류:</label>
                                                                <select class="form-control" id="add-companyIdx" name="companyIdx">
                                                                    <option value="1">카페회원</option>
                                                                    <option value="2">농가회원</option>
                                                                    <option value="3">폐배지회원</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-companyUnitYear">단가년도</label>
                                                                <input class="form-control" id="add-companyUnitYear"
                                                                       name="companyUnitYear"
                                                                       type="number" min="1900" max="2199"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-companyUnitAmount">단가중량:</label>
                                                                <input class="form-control" id="add-companyUnitAmount"
                                                                       name="companyUnitAmount"
                                                                       type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-companyUnitPrice">단가금액:</label>
                                                                <input class="form-control" id="add-companyUnitPrice"
                                                                       name="companyUnitPrice"
                                                                       type="text"/>
                                                            </div>
                                                            <button class="btn btn-primary" type="submit">확인</button>
                                                            <button class="btn btn-warning" type="reset">취소</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 단가입력 모달 -->
                                        <!-- 단가수정 모달 -->
                                        <div aria-hidden="true" aria-labelledby="editUnitModalLabel"
                                             class="modal fade" id="editUnitModal"
                                             role="dialog" tabindex="-1">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editUnitModalLabel">사업자 단가
                                                            입력</h5>
                                                        <button aria-label="Close" class="close" data-dismiss="modal"
                                                                type="button">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" th:action="@{/admin/companies/unit/updateCompanyUnit}">
                                                            <input type="hidden" id="edit-companyUnitIdx" name="companyUnitIdx" />
                                                            <div class="form-group">
                                                                <label for="edit-companyIdx">사업자종류:</label>
                                                                <select class="form-control" id="edit-companyIdx" name="companyIdx">
                                                                    <option value="1">카페회원</option>
                                                                    <option value="2">농가회원</option>
                                                                    <option value="3">폐배지회원</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="edit-companyUnitYear">단가년도</label>
                                                                <input class="form-control" id="edit-companyUnitYear"
                                                                       name="companyUnitYear"
                                                                       type="number" min="1900" max="2199"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="edit-companyUnitAmount">단가중량:</label>
                                                                <input class="form-control" id="edit-companyUnitAmount"
                                                                       name="companyUnitAmount"
                                                                       type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="edit-companyUnitPrice">단가금액:</label>
                                                                <input class="form-control" id="edit-companyUnitPrice"
                                                                       name="companyUnitPrice"
                                                                       type="text"/>
                                                            </div>
                                                            <button class="btn btn-primary" type="submit">확인</button>
                                                            <button class="btn btn-warning" type="reset">취소</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 단가수정 모달 -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>



