<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        var index;
        var arr = [];
        $(document).ready(function () {

            $("#check-all").click(function () {
                $("input[name=check-seperated]:checkbox").each(function() {
                    $(this).attr("checked", true);
                });

            });

            $('input[type="checkbox"]').click(function () {
                index = $(this).closest('tr').index() + 1;
                console.log('체크박스 index ' + index + ' 번클릭.');
            });
            $('input[type=checkbox][name=check-seperated]').change(function () {
                if (this.checked) {
                    // alert(`${this.value} is checked`);
                    const coffeeRequestIndex = document.querySelector('#check-box-value th').dataset.coffeeRequestIndex;
                    const name = $('#user_list #check-box-value:nth-child(' + index + ') #user_name').text();
                    const cafe_name = $('#user_list #check-box-value:nth-child(' + index + ') #cafe_name').text();
                    const cafe_phone = $('#user_list #check-box-value:nth-child(' + index + ') #cafe_phone').text();
                    const cafe_address = $('#user_list #check-box-value:nth-child(' + index + ') #cafe_address').text();
                    const coffee_amount = $('#user_list #check-box-value:nth-child(' + index + ') #coffee_amount').text();
                    const coffee_date = $('#user_list #check-box-value:nth-child(' + index + ') #coffee_date').text();
                    console.log(coffeeRequestIndex);
                    console.log(name);
                    console.log(cafe_name);
                    console.log(cafe_phone);
                    console.log(cafe_address);
                    console.log(coffee_amount);
                    console.log(coffee_date);
                    arr.push([name, cafe_name, cafe_phone, cafe_address, coffee_amount, coffee_date]); // 배열에 추가
                    console.log(arr);
                } else {
                    const name = $('#user_list #check-box-value:nth-child(' + index + ') #user_name').text();
                    const cafe_name = $('#user_list #check-box-value:nth-child(' + index + ') #cafe_name').text();
                    const cafe_phone = $('#user_list #check-box-value:nth-child(' + index + ') #cafe_phone').text();
                    const cafe_address = $('#user_list #check-box-value:nth-child(' + index + ') #cafe_address').text();
                    const coffee_amount = $('#user_list #check-box-value:nth-child(' + index + ') #coffee_amount').text();
                    const coffee_date = $('#user_list #check-box-value:nth-child(' + index + ') #coffee_date').text();
                    arr = arr.filter(item => (
                        item[0] !== name ||
                        item[1] !== cafe_name ||
                        item[2] !== cafe_phone ||
                        item[3] !== cafe_address ||
                        item[4] !== coffee_amount ||
                        item[5] !== coffee_date
                    ));
                    console.log(arr);
                }
            });
        });
    </script>
</head>
<th:block layout:fragment="customContent">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>승인페이지</small></h2>

                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <p class="text-muted font-13 m-b-30">
                                <code>승인신청확인 페이지</code>
                            </p>
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                                    <div class="input-group">
                                        <select class="form-select" size="1" aria-label="size 3 select example">
                                            <option selected>선택</option>
                                            <option value="1">카페명</option>
                                            <option value="2">카페주소</option>
                                        </select>
                                        <input type="text" class="form-control" placeholder="검색어를 입력하세요.">
                                        <span class="input-group-btn">
										<button class="btn btn-default" type="button">검색</button>
									</span>
                                    </div>
                                </div>
                            </div>
                            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>
                                        No
                                    </th>
                                    <th><input type="checkbox" id="check-all"></th>
                                    <th>아이디</th>
                                    <th>카페명</th>
                                    <th>수거 담당자 번호</th>
                                    <th>카페 주소</th>
                                    <th>중량</th>
                                    <th>승인신청 날짜</th>
                                    <th>승인상태</th>
                                </tr>
                                </thead>
                                <tbody id="user_list">
                                <tr id="check-box-value"
                                    th:each="coffeeRequest, coffeeRequestIndex: ${coffeeRequestList}">
                                    <th data-coffee-request-index="${coffeeRequestIndex.count}"
                                        th:text="${coffeeRequestIndex.count}"></th>
                                    <th><input type="checkbox" id="check-seperated" name="check-seperated"></th>
                                    <td id="user_name" th:text="${coffeeRequest.userName}"></td>
                                    <td id="cafe_name" th:text="${coffeeRequest.companyInfoName}"></td>
                                    <td id="cafe_phone" th:text="${coffeeRequest.coffeeRequestPhone}"></td>
                                    <td id="cafe_address" th:text="${coffeeRequest.coffeeRequestAddress}"></td>
                                    <td id="coffee_amount" th:text="${coffeeRequest.coffeeRequestAmount}+kg"></td>
                                    <td id="coffee_date" th:text="${coffeeRequest.coffeeRequestDate}"></td>
                                    <td>대기중</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <!--  <button type="submit" class="btn btn-success">승인</button>-->
                                <!-- 승인 버튼-->
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target=".bs-example-modal-lg">승인
                                </button>
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">승인여부</h4>
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>허가내용</h4>
                                                <label style=" margin:0 auto;">
                                                    <input type="text" placeholder="허가내용"
                                                           style="width:300px;height:20px;">
                                                </label>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">확인</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    닫기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 거절 버튼 -->
                                </div>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target=".bs-example-modal-lg">거절
                                </button>
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel2">거절</h4>
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>?</h4>
                                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                                                    auctor.</p>
                                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
                                                    cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
                                                    dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">확인
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    닫기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="reset">초기화</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>