<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.mushroom.mushroomPurchase.mapper.FarmPurchaseMapper">
    <resultMap id="PurchaseAccount" type="ks46team01.mushroom.mushroomPurchase.dto.FarmPurchase">
        <id column="accounting_purchase_idx"            property="accountingPurchaseIdx"/>
        <result column="username"                       property="username"/>
        <result column="company_info_idx"               property="companyInfoIdx"/>
        <result column="company_idx"                    property="companyIdx"/>
        <result column="inventory_idx"                  property="inventoryIdx"/>
        <result column="company_contract_idx"           property="companyContractIdx"/>
        <result column="accounting_purchase_date"       property="accountingPurchaseDate"/>
        <result column="accounting_purchase_type"       property="accountingPurchaseType"/>
        <result column="accounting_purchase_unit_price" property="accountingPurchaseUnitPrice"/>
        <result column="accounting_purchase_amount"     property="accountingPurchaseAmount"/>
        <result column="accounting_purchase_payment"    property="accountingPurchasePayment"/>
        <result column="accounting_purchase_sum"    property="accountingPurchaseSum"/>
        <result column="accounting_purchase_code"       property="accountingPurchaseCode"/>
    </resultMap>

    <select id="getListPurchaseAccount" resultType="ks46team01.mushroom.mushroomPurchase.dto.FarmPurchase">
        SELECT
            map.accounting_purchase_idx                 as accountingPurchaseIdx
            , u.name                              as name
            , c.company_type                           as companyType
            , ci.company_info_license_number                      as companyInfoLicenseNumber
            , i.inventory_type                         as inventoryType
            , map.company_contract_idx                  as companyContractIdx
            , map.accounting_purchase_date              as accountingPurchaseDate
            , map.accounting_purchase_type              as accountingPurchaseType
            , map.accounting_purchase_unit_price        as accountingPurchaseUnitPrice
            , map.accounting_purchase_amount            as accountingPurchaseAmount
            , map.accounting_purchase_payment           as accountingPurchasePayment
            , map.accounting_purchase_sum               as accountingPurchaseSum
            , map.accounting_purchase_code              as accountingPurchaseCode
        FROM
            mushroom_accounting_purchase AS map
        INNER JOIN
            user AS u ON map.username = u.username
        INNER JOIN
            company_info AS ci ON map.company_info_idx = ci.company_info_idx
        INNER JOIN
            company AS c ON ci.company_idx = c.company_idx
        INNER JOIN
            inventory AS i ON map.inventory_idx = i.inventory_idx
        INNER JOIN
            company_contract AS cc ON map.company_contract_idx = cc.company_contract_idx;
    </select>
    <select id="getUserIdx" resultType="ks46team01.user.info.entity.User">
        /* 이용자 조회*/
        SELECT
        username
        , name
        , birth
        , email
        , phone
        , address
        FROM user

    </select>

    <select id="getCompanyIdx" resultType="ks46team01.admin.company.entity.Company">
        /* 사업장 고유 코드 조회*/
        SELECT
        company_idx     as companyIdx
        , company_type  as companyType
        FROM
            company
    </select>

    <select id="getCompanyInfoIdx" resultType="ks46team01.common.company.info.entity.CompanyInfo">
        /* 사업장 상세 정보 조회*/
        SELECT
        company_info_idx                as companyInfoIdx
        ,company_info_name              as companyInfoName
        , company_info_license_number   as companyInfoLicenseNumber
        , company_info_address          as Address
        , company_info_phone            as Phone
        FROM
            company_info

    </select>
    <select id="getInventoryIdx" resultType="ks46team01.admin.inventory.entity.Inventory">
        /*재고물품 수량조회  */
        SELECT
        inventory_idx       as inventoryIdx
        , inventory_type    as inventoryType
        FROM
            inventory
    </select>
    <select id="getCompanyContractIdx" resultType="ks46team01.admin.company.contract.entity.CompanyContract">
        /* 사업자 계약서 상세내용 조회*/
        SELECT
        company_contract_idx                as companyContractIdx
        , company_contract_delivery_term    as companyContractDeliveryTerm
        , company_contract_start            as companyContractStart
        , company_contract_end              as companyContractEnd
        , company_contract_amount           as z
        FROM
        company_contract
    </select>

    <insert id="addPurchaseAccount" parameterType="ks46team01.mushroom.mushroomPurchase.dto.FarmPurchase">
        INSERT INTO     mushroom_accounting_purchase
        (accounting_purchase_idx
        , username
        , company_info_idx
        , company_idx
        , inventory_idx
        , company_contract_idx
        , accounting_purchase_date
        , accounting_purchase_type
        , accounting_purchase_unit_price
        , accounting_purchase_amount
        , accounting_purchase_payment
        , accounting_purchase_sum
        , accounting_purchase_code)
        VALUES
        (
        #{accountingPurchaseIdx}
        ,#{username}
        ,#{companyInfoIdx}
        ,#{companyIdx}
        ,#{inventoryIdx}
        ,#{companyContractIdx}
        ,#{accountingPurchaseDate}
        ,#{accountingPurchaseType}
        ,#{accountingPurchaseUnitPrice}
        ,#{accountingPurchaseAmount}
        ,#{accountingPurchasePayment}
        ,#{accountingPurchaseSum}
        ,#{accountingPurchaseCode}
        )
    </insert>

    <select id="getPurchaseAccountInfoByIdx" parameterType="String" resultMap="PurchaseAccount">
        /* 대상 조회 */
        SELECT
        accounting_purchase_idx
        , username
        , company_info_idx
        , company_idx
        , inventory_idx
        , company_contract_idx
        , accounting_purchase_date
        , accounting_purchase_type
        , accounting_purchase_unit_price
        , accounting_purchase_amount
        , accounting_purchase_payment
        , accounting_purchase_sum
        , accounting_purchase_code
        FROM
        mushroom_accounting_purchase
        WHERE
        accounting_purchase_idx = #{accountingPurchaseIdx}
    </select>

    <update id="modifyPurchaseAccount" parameterType="ks46team01.mushroom.mushroomPurchase.dto.FarmPurchase">
        UPDATE mushroom_accounting_purchase
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="companyInfoIdx != null and companyInfoIdx != ''">
                company_info_idx = #{companyInfoIdx},
            </if>
            <if test="companyIdx != null and companyIdx != ''">
                company_idx = #{companyIdx},
            </if>
            <if test="inventoryIdx != null and inventoryIdx != ''">
                inventory_idx = #{inventoryIdx},
            </if>
            <if test="companyContractIdx != null and companyContractIdx != ''">
                company_contract_idx = #{companyContractIdx},
            </if>
            <if test="accountingPurchaseDate != null and accountingPurchaseDate != ''">
                accounting_purchase_date = #{accountingPurchaseDate},
            </if>
            <if test="accountingPurchaseType != null and accountingPurchaseType != ''">
                accounting_purchase_type = #{accountingPurchaseType},
            </if>
            <if test="accountingPurchaseUnitPrice != null and accountingPurchaseUnitPrice != ''">
                accounting_purchase_unit_price = #{accountingPurchaseUnitPrice},
            </if>
            <if test="accountingPurchaseAmount != null and accountingPurchaseAmount != ''">
                accounting_purchase_amount = #{accountingPurchaseAmount},
            </if>
            <if test="accountingPurchasePayment != null and accountingPurchasePayment != ''">
                accounting_purchase_payment = #{accountingPurchasePayment},
            </if>
            <if test="accountingPurchaseSum != null and accountingPurchaseSum != ''">
                accounting_purchase_sum = #{accountingPurchaseSum},
            </if>
            <if test="accountingPurchaseCode != null and accountingPurchaseCode != ''">
                accounting_purchase_code = #{accountingPurchaseCode},
            </if>

        </trim>
        WHERE
        accounting_purchase_idx = #{accountingPurchaseIdx}
    </update>


    <select id="getPurchaseAccountDeleteInfoByIdx" parameterType="Long" resultMap="PurchaseAccount">
        /*삭제 대상 조회 */
        SELECT
        accounting_purchase_idx
        , username
        , company_info_idx
        , company_idx
        , inventory_idx
        , company_contract_idx
        , accounting_purchase_date
        , accounting_purchase_type
        , accounting_purchase_unit_price
        , accounting_purchase_amount
        , accounting_purchase_payment
        , accounting_purchase_sum
        , accounting_purchase_code
        FROM
        mushroom_accounting_purchase
        WHERE
        accounting_purchase_idx = #{accountingPurchaseIdx}
    </select>

    <delete id="deletePurchaseAccountByIdx" parameterType="ks46team01.mushroom.mushroomPurchase.dto.FarmPurchase">
        DELETE
        FROM
        mushroom_accounting_purchase
        WHERE
        accounting_purchase_idx=#{accountingPurchaseIdx}
    </delete>





</mapper>