<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            if (message) {
                alert(message);
            }

            // 제출 이벤트에 대한 이벤트 리스너 추가
            $("#demo-form2").on("submit", function(event) {
                const password = $("#password").val();
                const passwordDuplicate = $("#password_duplicate").val();

                // 비밀번호와 중복 비밀번호 값 비교
                if (password !== passwordDuplicate) {
                    event.preventDefault(); // 양식 제출 방지
                    alert("비밀번호가 일치하지 않습니다."); // 오류 메시지 표시
                }
            });

            // 중복 비밀번호 입력 필드 키 입력 이벤트에 대한 이벤트 리스너 추가
            $("#password_duplicate").on("keyup", function() {
                const password = $("#password").val();
                const passwordDuplicate = $("#password_duplicate").val();

                // 비밀번호와 중복 비밀번호 값 비교
                if (password === passwordDuplicate) {
                    $("#password_match_message").text("비밀번호가 일치합니다.")
                        .css("color", "green");
                } else {
                    $("#password_match_message").text("비밀번호가 일치하지 않습니다.")
                        .css("color", "red");
                }
            });
        });

        // "확인" 버튼 클릭 이벤트에 대한 이벤트 리스너 추가
        let isUsernameAvailable = false;
        let usernameCheckTimeout;

        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            if (message) {
                alert(message);
            }

            // 사용자 이름 입력 필드에 입력 이벤트 연결
            $("#username").on("input", function() {
                clearTimeout(usernameCheckTimeout);

                usernameCheckTimeout = setTimeout(function() {
                    const username = $("#username").val();

                    if (username) {
                        $.ajax({
                            url: "/user/checkUsername",
                            type: "GET",
                            data: { username: username },
                            success: function(isAvailable) {
                                if (isAvailable) {
                                    $("#username_available_message").text("사용 가능한 아이디입니다.")
                                        .css("color", "green");
                                    isUsernameAvailable = true;
                                } else {
                                    $("#username_available_message").text("이미 사용 중인 아이디입니다.")
                                        .css("color", "red");
                                    isUsernameAvailable = false;
                                }
                            }
                        });
                    } else {
                        $("#username_available_message").text("아이디를 입력해주세요.")
                            .css("color", "red");
                        isUsernameAvailable = false;
                    }
                }, 500); // 500 ms 지연
            });
        });

        // 양식 제출 이벤트 리스너 추가
        $("#demo-form2").on("submit", function(event) {
            if (!isUsernameAvailable) {
                event.preventDefault();
                alert("회원가입이 불가합니다.");
            }
        });
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = '';
                    var extraAddr = '';

                    if (data.userSelectedType === 'R') {
                        addr = data.roadAddress;
                    } else {
                        addr = data.jibunAddress;
                    }

                    if(data.userSelectedType === 'R'){
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                    }

                    document.getElementById('main_address').value = addr;
                    document.getElementById('extra_address').value = extraAddr;
                    document.getElementById('main_address').focus();
                }
            }).open();
        }
        document.getElementById("demo-form2").addEventListener("submit", function(event) {
            const mainAddress = document.getElementById("main_address").value;
            const extraAddress = document.getElementById("extra_address").value;
            document.getElementById("address").value = mainAddress + extraAddress;
        });

    </script>
</th:block>

<th:block layout:fragment="customContent">
    <h1>회원가입</h1>
    <div class="x_content">
        <br/>
        <form th:object="${users}" th:action="@{/user/addUser}" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="username">아이디</label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="text" id="username" th:field="*{username}" required="required" class="form-control">
                    <span id="username_available_message" class="help-block"></span> <!-- Add this line -->
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="password">비밀번호</label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="password" id="password" th:field="*{password}" required="required" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="password_duplicate">비밀번호 확인</label>
                <div class="col-md-6 col-sm-6 ">
                    <span id="password_match_message" class="help-block"></span>
                    <input type="password" id="password_duplicate" required="required" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">이름</label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="text" id="name" th:field="*{name}" required="required" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="birth">생년월일</label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="date" id="birth" th:field="*{birth}" required="required" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">이메일</label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="email" id="email" th:field="*{email}" required="required" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="phone">전화번호</label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="tel" id="phone" th:field="*{phone}" required="required" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="address">주소</label>
                <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="sample6_postcode" placeholder="우편번호">
                        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                        <br>
                        <input type="text" id="main_address" placeholder="주소" class="form-control">
                        <input type="text" id="extra_address" placeholder="상세주소" class="form-control">
                    <input type="hidden" id="address" th:field="*{address}" required="required" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" class="btn btn-primary">회원가입</button>
                    <button type="reset" class="btn btn-secondary">취소</button>
                </div>
            </div>
        </form>
    </div>
</th:block>

</html>

