<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
  <script>
    $("#findPasswordForm").submit(function (event) {
      event.preventDefault();
      let username = $("#username").val();
      let email = $("#email").val();

      $.ajax({
        type: "POST",
        url: "/user/findPasswordUser",
        data: {
          username: username,
          email: email,
        },
        success: function (response) {
          if (response === "success") {
            $("#message").show();
          } else {
            alert(response);
          }
        },
      });
    });

  </script>
</th:block>

<th:block layout:fragment="customContent">
  <div class="container">
    <h2>비밀번호 찾기</h2>
    <form id="findPasswordForm">
      <div class="form-group">
        <label for="username">아이디:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">이메일:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <button type="submit" class="btn btn-primary">임시 비밀번호전송</button>
      <button type="reset" class="btn btn-warning">취소</button>
    </form>
    <div id="message" style="display:none;">임시 비밀번호가 이메일로 전송되었습니다</div>
  </div>
</th:block>
</html>
