<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
  <script>
    $(document).ready(function() {

      $("#modify-form").on("submit", function(e) {
        e.preventDefault();

        const passwordCheck = $("#password_check").val();
        if (passwordCheck.length === 0) {
          $("#password_error").text("비밀번호를 입력해주세요.");
          return false;
        }

        const newPassword = $("#new_password").val();
        const newPasswordConfirm = $("#new_password_confirm").val();

        if (newPassword !== newPasswordConfirm) {
          alert("비밀번호가 일치하지 않습니다. 다시 입력해 주세요.");
          return false;
        }

        // AJAX 요청을 서버로 전송하여 암호 확인
        $.ajax({
          url: "/user/validatePassword",
          type: "POST",
          data: {
            username: $("#modify-form input[name='username']").val(),
            password_check: passwordCheck,
            new_password: newPassword,
            new_password_confirm: newPasswordConfirm
          },
          success: function(response) {
            if (response === "true") {
              // If the password is correct, submit the form
              $("#modify-form").off("submit").submit();
            } else {
              // 암호가 올바르지 않으면 오류 메시지를 표시하고 경고합니다
              alert("회원수정에 실패했습니다");
            }
          }
        });
      });

      // 새 암호 확인
      $("#new_password_confirm").on("keyup", function() {
        const newPassword = $("#new_password").val();
        const newPasswordConfirm = $("#new_password_confirm").val();

        if (newPassword === newPasswordConfirm) {
          $("#password_match_message").text("비밀번호가 일치합니다.")
                  .css("color", "green");
        } else {
          $("#password_match_message").text("비밀번호가 일치하지 않습니다.")
                  .css("color", "red");
        }
      });
    });
  </script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    function sample6_execDaumPostcode() {
      new daum.Postcode({
        oncomplete: function(data) {
          var addr = '';
          var extraAddr = '';

          if (data.userSelectedType === 'R') {
            addr = data.roadAddress;
          } else {
            addr = data.jibunAddress;
          }

          if(data.userSelectedType === 'R'){
            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
              extraAddr += data.bname;
            }
            if(data.buildingName !== '' && data.apartment === 'Y'){
              extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            if(extraAddr !== ''){
              extraAddr = ' (' + extraAddr + ')';
            }
          }

          document.getElementById('modify_main_address').value = addr;
          document.getElementById('modify_extra_address').value = extraAddr;
          document.getElementById('modify_main_address').focus();
        }
      }).open();
    }
    document.getElementById("modify-form").addEventListener("submit", function(event) {
      const mainAddress = document.getElementById("modify_main_address").value;
      const extraAddress = document.getElementById("modify_extra_address").value;
      document.getElementById("modify_address").value = mainAddress + extraAddress;
    });
  </script>
</th:block>

<th:block layout:fragment="customContent">
  <h2>회원 정보 수정</h2>
  <div class="container">
    <form th:object="${user}" th:action="@{/user/modifyUser}" method="post" id="modify-form" data-parsley-validate class="form-horizontal form-label-left">
      <input type="hidden" th:field="*{username}"/>

      <div class="form-group">
        <label for="password_check">현재 비밀번호</label>
        <input type="password" name="password_check" id="password_check" class="form-control" required="required">
        <!--        <span id="password_error" style="color: red;"></span>-->
      </div>

      <div class="form-group">
        <label for="new_password">새 비밀번호</label>
        <input type="password" name="new_password" id="new_password" class="form-control">
      </div>

      <div class="form-group">
        <label for="new_password_confirm">새 비밀번호 확인</label>
        <input type="password" name="new_password_confirm" id="new_password_confirm" class="form-control">
        <span id="password_match_message" style="color: red;"></span>
      </div>

      <div class="form-group">
        <label for="email">이메일</label>
        <input type="email" id="email" th:field="*{email}" class="form-control" required="required">
      </div>

      <div class="form-group">
        <label for="phone">전화번호</label>
        <input type="tel" id="phone" th:field="*{phone}" class="form-control" required="required">
      </div>

      <div class="form-group">
        <label for="modify_address">주소</label>
        <br>
        <input type="text" id="sample6_postcode" placeholder="우편번호">
        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
        <br>
        <input type="text" id="modify_main_address" placeholder="주소" class="form-control">
        <input type="text" id="modify_extra_address" placeholder="상세주소" class="form-control">
        <input type="hidden" id="modify_address" th:field="*{address}" required="required" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">정보 수정</button>
      <button type="reset" class="btn btn-secondary">취소</button>
    </form>
  </div>
</th:block>
</html>
