<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="top_nav" th:fragment="topNaviFragment">
	<!-- If user is logged in and not admin -->
	<div th:if="${session.user != null and session.adminUser == null}" class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle_logged_in"><i class="fa fa-bars"></i></a>
		</div>
		<nav class="nav navbar-nav">
			<ul class="navbar-right">
				<li class="nav-item dropdown open" style="padding-left: 15px;">
					<a href="javascript:" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
						<img th:src="@{/images/img.jpg}" alt="">
						<span th:text="${session.user.username}"></span>
					</a>
					<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/user/profileUser}"> 회원정보</a>
						<a class="dropdown-item" th:href="@{/user/deleteUser/{username}(username=${session.user.username})}"> 회원탈퇴</a>
						<a class="dropdown-item" th:href="@{/user/modifyUser/{username}(username=${session.user.username})}"> 회원정보수정</a>
						<a class="dropdown-item" th:href="@{/auth/logout}">
							<i class="fa fa-sign-out pull-right"></i>
							로그아웃
						</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>

	<!-- If admin is logged in -->
	<div th:if="${session.adminUser != null}" class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle_admin_logged_in"><i class="fa fa-bars"></i></a>
		</div>
		<nav class="nav navbar-nav">
			<ul class="navbar-right">
				<li class="nav-item dropdown open" style="padding-left: 15px;">
					<a href="javascript:" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdownAdmin" data-toggle="dropdown" aria-expanded="false">
						<img th:src="@{/images/img.jpg}" alt="">
						<span th:text="${session.adminUser.adminUsername}"></span>
					</a>
					<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/admin/listAdmin}"> 관리자 정보</a>
						<a class="dropdown-item" th:href="@{/auth/logoutAdmin}">
							<i class="fa fa-sign-out pull-right"></i>
							관리자 로그아웃
						</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>

	<!-- If user is not logged in -->
	<div th:if="${session.user == null and session.adminUser == null}" class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle_not_logged_in"><i class="fa fa-bars"></i></a>
		</div>
		<nav class="nav navbar-nav">
			<ul class="navbar-right">
				<li class="nav-item" style="padding-left: 15px;">
					<a th:href="@{/auth/login}" class="nav-link">로그인</a>
				</li>
				<li class="nav-item" style="padding-left: 15px;">
					<a th:href="@{/user/addUser}" class="nav-link">회원가입</a>
				</li>
				<li class="nav-item" style="padding-left: 15px;">
					<a th:href="@{/user/findPasswordUser}" class="nav-link">비밀번호 찾기</a>
				</li>
				<li class="nav-item" style="padding-left: 15px;">
					<a th:href="@{/auth/loginAdmin}" class="nav-link">관리자 로그인</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

</html>

