<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.user.coffee.mapper.UserCoffeeMapper">
    <select id="listCompanyCode" parameterType="String" resultType="ks46team01.common.coffee.dto.CompanyInfo">
        SELECT
        company_info_idx as companyInfoIdx
        FROM
        company_info WHERE username = #{userId};
    </select>
    <insert id="insertCoffeeRequest" parameterType="hashmap">
        INSERT INTO coffee_request(
        username,
        company_contract_idx,
        company_info_idx,
        inventory_idx,
        coffee_request_amount,
        coffee_request_address,
        coffee_request_phone,
        coffee_request_content,
        coffee_request_date
        )VALUES(#{userId},1,#{companyInfoIdx},1,#{amount},#{address},#{phone},#{message},now());
    </insert>
</mapper>