<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<head>
	
	</head>
	<th:block layout:fragment="customContent">
		<div class="page-title">
			<div class="title_center">

				<main>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<h3 class="color blue">관리자로 로그인하면, 목록이 열립니다.</h3>
								<h4>아이디: admin1 비밀번호: admin1</h4>
								<ul>
									<h5>팀원</h5>
									<h5 class="color blue">팀장 이규노</h5>
									<h6>회원관리 : 회원가입, 회원수정, 비밀번호찾기(SMTP), 회원탈퇴(완료)</h6>
									<h6>로그인 및 보안 : 인터셉터, 권한에 따른 접속권한, 회원비밀번호 암호화(완료)</h6>
									<h6>관리자 관리 : 관리자 조회 및 관리자 계정관리(완료)</h6>
									<h6>사업자 관리 : 관리자 역활의 사업자관리 및 회원 사업자 정보 등록(진행중 70%완료)</h6>
									<h6>재고관리 관리 : 재고물품관리 및 입출고 관리(진행중 20%완료)</h6>
									<h6>게시판 및 공지사항 관리(진행중 40%)</h6>
									<h6>사용기술 특이사항 : Mybatis에서 JPA로 마이그레이션 진행, JPQL를 활용해서 db에 데이터 전달</h6>
									<h5 class="color green">조원 강형준</h5>
									<h6>카페사업자 관리</h6>
									<h6>농가사업자 관리</h6>
									<h6>폐배지구매 사업자 관리</h6>
									<h6 class="color red">조원 오진우</h6>
									<h6>사업자 매입매출 관리</h6>
									<h6>농가 사업자 데이터 관리</h6>
								</ul>
								<p class="text-center">
									<a href="/intro" class="btn btn-primary btn-lg">소개</a>
								</p>
							</div>
						</div>
					</div>
				</main>

			</div>
		</div>
	</th:block>
</html>