<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
    <script>
        document.getElementById("addBtn1").addEventListener("click", function() {
            window.location.href = "/mushroom/add/addAccountMushroom";
        });
    </script>
</th:block>

<th:block layout:fragment="customContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="my-4">플렛폼 일일매출</h2>
                <button id="addBtn1" th:href="@{/mushroom/add/addAccountMushroom}" class="btn btn-primary"> 등록 </button>
                <button id="addBtn2" th:href="@{/mushroom/add/addAccountMushroom}" class="btn btn-primary"> 수정 </button>
                <button id="addBtn3" th:href="@{/mushroom/add/addAccountMushroom}" class="btn btn-primary"> 삭제 </button>
                <button id="addBtn4" th:href="@{/mushroom/add/addAccountMushroom}" class="btn btn-primary"> 검색기능? </button>
                <button id="addBtn5" th:href="@{/mushroom/add/addAccountMushroom}" class="btn btn-primary"> 추가 할거 생각해보기 </button>

                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>회계관리 매입 고유번호</th>
                        <th>사업장 고유코드</th>
                        <th>재고물품고유번호</th>
                        <th>사업자 계약관리고유번호</th>
                        <th>거래일자</th>
                        <th>거래유형</th>
                        <th>거래단가</th>
                        <th>매입거래량</th>
                        <th>결제유형</th>
                        <th>금액</th>
                        <th>운영자아이디</th>
                        <th>수정날짜</th>
                        <th>매출 마감 그룹코드</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:unless="${fap == null}" th:each="l:${fap}">

                        <td th:text="${l.accounting_purchase_idx}"></td>
                        <td th:text="${l.username}"></td>
                        <td th:text="${l.company_info_idx}"></td>
                        <td th:text="${l.company_idx}"></td>
                        <td th:text="${l.inventory_idx}"></td>
                        <td th:text="${l.company_contract_idx}"></td>
                        <td th:text="${l.accounting_purchase_date}"></td>
                        <td th:text="${l.accounting_purchase_type}"></td>
                        <td th:text="${l.accounting_purchase_unit_price}"></td>
                        <td th:text="${l.accounting_purchase_amount}"></td>
                        <td th:text="${l.accounting_purchase_payment}"></td>
                        <td th:text="${l.accounting_purchase_sum}"></td>
                        <td th:text="${l.accounting_purchase_code}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>

