<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
    <script>
        document.getElementById("addBtn1").addEventListener("click", function() {
            window.location.href = "/mushroom/add/addDataFarmMushroom";
        });
        document.getElementById("addBtn2").addEventListener("click", function() {
            window.location.href = "/mushroom/modify/modifyDataFarmMushroom";
        });
    </script>
</th:block>

<th:block layout:fragment="customContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="my-4">버섯 재배 생산량 상세 등록조회</h2>
                <button id="addBtn1" th:href="@{/mushroom/add/addDataFarmMushroom}" class="btn btn-primary"> 등록 </button>
                <button id="addBtn2" th:href="@{/mushroom/modify/modifyDataFarmMushroom}" class="btn btn-primary"> 수정 </button>
                <button id="addBtn3" th:href="@{/mushroom/add/addDataFarmMushroom}" class="btn btn-primary"> 삭제 </button>
                <button id="addBtn4" th:href="@{/mushroom/add/addDataFarmMushroom}" class="btn btn-primary"> 검색기능? </button>
                <button id="addBtn5" th:href="@{/mushroom/add/addDataFarmMushroom}" class="btn btn-primary"> 추가 할거 생각해보기 </button>
                <div th:insert="~{/mushroom/search/searchDataFarmMushroom :: searchFragment}"></div>
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>농가재배 정보 등록 고유코드</th>
                        <th>회원고유번호</th>
                        <th>사업자 고유번호</th>
                        <th>재배규모(배지기준)</th>
                        <th>일 버섯 생산량</th>
                        <th>매출 예상치</th>
                        <th>실 발생 매출</th>
                        <th>생산 일자</th>
                        <th>매출 발생 일자</th>
                        <th>예상 폐배지 수량</th>
                        <th>등록일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="farmData : ${farmDataList}">
                        <td th:text="${farmData.farmDataIdx}"></td>
                        <td th:text="${farmData.username}"></td>
                        <td th:text="${farmData.companyInfoIdx}"></td>
                        <td th:text="${farmData.farmDataCompost}"></td>
                        <td th:text="${farmData.farmDataProduction}"></td>
                        <td th:text="${farmData.farmDataExpectedSale}"></td>
                        <td th:text="${farmData.farmDataActualSale}"></td>
                        <td th:text="${farmData.farmDataProductionDate}"></td>
                        <td th:text="${farmData.farmDataOccurrenceSaleDate}"></td>
                        <td th:text="${farmData.farmDataExpectedWasted}"></td>
                        <td th:text="${farmData.farmDataDate}"></td>
                    </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>





