<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
    <script>
        $(document).ready(function () {
            $('body').on('click', '.add-button', function () {

                const row= $(this).closest('tr');

                const pastDataIdx = row.find('td[data-key="pastDataIdx"]').text();
                const username = row.find('td[data-key="username"]').text();
                const companyInfoIdx = row.find('td[data-key="companyInfoIdx"]').text();
                const cropIdx = row.find('td[data-key="cropIdx"]').text();
                const cropType = row.find('td[data-key="cropType"]').text();
                const pastDataMushroomProduction = row.find('td[data-key="pastDataMushroomProduction"]').text();
                const pastDataTotalRevenue = row.find('td[data-key="pastDataTotalRevenue"]').text();
                const pastDataBadgeUse = row.find('td[data-key="pastDataBadgeUse"]').text();
                const pastDataYear = row.find('td[data-key="pastDataYear"]').text();
                const pastDataUse = row.find('td[data-key="pastDataUse"]').text();
                const pastDataComparison = row.find('td[data-key="pastDataComparison"]').text();
                const pastDataDate = row.find('td[data-key="pastDataDate"]').text();

                $('#add-pastDataIdx').val(pastDataIdx);
                $('#add-username').val(username);
                $('#add-companyInfoIdx').val(companyInfoIdx);
                $('#add-cropIdx').val(cropIdx);
                $('#add-cropType').val(cropType);
                $('#add-pastDataMushroomProduction').val(pastDataMushroomProduction);
                $('#add-pastDataTotalRevenue').val(pastDataTotalRevenue);
                $('#add-pastDataBadgeUse').val(pastDataBadgeUse);
                $('#add-pastDataYear').val(pastDataYear);
                $('#add-pastDataUse').val(pastDataUse);
                $('#add-pastDataComparison').val(pastDataComparison);
                $('#add-pastDataDate').val(pastDataDate);

                // 모달 보여짐
                $('#addAdminModal').modal('show');
            });

            $('body').on('click', '.edit-button', function () {
                const row = $(this).closest('tr');

                const pastDataIdx = row.find('td[data-key="pastDataIdx"]').text();
                const username = row.find('td[data-key="username"]').text();
                const companyInfoIdx = row.find('td[data-key="companyInfoIdx"]').text();
                const cropIdx = row.find('td[data-key="cropIdx"]').text();
                const cropType = row.find('td[data-key="cropType"]').text();
                const pastDataMushroomProduction = row.find('td[data-key="pastDataMushroomProduction"]').text();
                const pastDataTotalRevenue = row.find('td[data-key="pastDataTotalRevenue"]').text();
                const pastDataBadgeUse = row.find('td[data-key="pastDataBadgeUse"]').text();
                const pastDataYear = row.find('td[data-key="pastDataYear"]').text();
                const pastDataUse = row.find('td[data-key="pastDataUse"]').text();
                const pastDataComparison = row.find('td[data-key="pastDataComparison"]').text();
                const pastDataDate = row.find('td[data-key="pastDataDate"]').text();

                $('#modify-pastDataIdx').val(pastDataIdx);
                $('#modify-username').val(username);
                $('#modify-companyInfoIdx').val(companyInfoIdx);
                $('#modify-cropIdx').val(cropIdx);
                $('#modify-cropType').val(cropType);
                $('#modify-pastDataMushroomProduction').val(pastDataMushroomProduction);
                $('#modify-pastDataTotalRevenue').val(pastDataTotalRevenue);
                $('#modify-pastDataBadgeUse').val(pastDataBadgeUse);
                $('#modify-pastDataYear').val(pastDataYear);
                $('#modify-pastDataUse').val(pastDataUse);
                $('#modify-pastDataComparison').val(pastDataComparison);
                $('#modify-pastDataDate').val(pastDataDate);
                // 모달 보여짐
                $('#modifyAdminModal').modal('show');

            });


            $('body').on('click', '.delete-button', function () {
                const adminUsername = $(this).closest('tr').find('td[data-key="adminUsername"]').text();

                $.ajax({
                    type: 'POST',
                    url: '/admin/delete/' + adminUsername,
                    success: function (response) {
                        alert('삭제성공');
                        $('button[data-adminUsername="' + adminUsername + '"]').closest('tr').remove();
                    },
                    error: function () {
                        alert('FK 제약조건 에러');
                    },
                });
            });


            $('#datatable-custom').DataTable({
                pagination: false,
                searching: false,
                lengthChange : false
            });
        });
    </script>
</th:block>

<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="my-4">관리자 목록</h2>

                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <form th:action="@{/admin/listAdmin}" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="관리자 아이디를 입력하세요" name="adminUsername">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">검색</button>
                                        <a class="btn btn-outline-secondary" th:href="@{/admin/listAdmin}">초기화</a>
                                    </div>
                                </div>
                            </form>

                            <div style="display: flex;">
                                <button class="add-button" type="submit">관리자등록</button>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">
                                    <div id="datatable-buttons_wrapper"
                                         class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
                                        <table id="datatable-custom"
                                               class="table table-striped table-bordered dataTable no-footer dtr-inline"
                                               style="width: 100%;" role="grid"
                                               aria-describedby="datatable-buttons_info">
                                            <thead>
                                            <tr role="row">
                                                <th>과거버섯데이터 고유코드</th>
                                                <th>사업자 고유코드</th>
                                                <th>작물고유코드</th>
                                                <th>작물종류</th>
                                                <th>생산량 </th>
                                                <th>매출합계</th>
                                                <th>배지사용비용</th>
                                                <th>년도</th>
                                                <th>사용유무</th>
                                                <th>플랫폼사용 전 후 비교데이터</th>
                                                <th>등록날짜</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd" th:each="fpd : ${fpd}">
                                                <td data-key="pastDataIdx" th:text="${fpd.pastDataIdx}"></td>
                                                <td data-key="username" th:text="${fpd.username}"></td>
                                                <td data-key="companyInfoIdx" th:text="${fpd.companyInfoIdx}"></td>
                                                <td data-key="cropIdx" th:text="${fpd.cropIdx}"></td>
                                                <td data-key="cropType" th:text="${fpd.cropType}"></td>
                                                <td data-key="pastDataMushroomProduction" th:text="${fpd.pastDataMushroomProduction}"></td>
                                                <td data-key="pastDataTotalRevenue" th:text="${fpd.pastDataTotalRevenue}"></td>
                                                <td data-key="pastDataBadgeUse" th:text="${fpd.pastDataBadgeUse}"></td>
                                                <td data-key="pastDataYear" th:text="${fpd.pastDataYear}"></td>
                                                <td data-key="pastDataUse" th:text="${pastDataUse}"></td>
                                                <td data-key="pastDataComparison" th:text="${fpd.pastDataComparison}"></td>
                                                <td data-key="pastDataDate" th:text="${fpd.pastDataDate}"></td>
                                                <td>
                                                    <button type="button" class="edit-button">수정</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="delete-button">삭제</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!-- 회원등록 모달 -->
                                        <div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="addUserModalLabel">회원 정보 수정</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/mushroom/dataPastMushroom}" method="post">
                                                            <div class="form-group">
                                                                <label for="add-adminUsername">아이디</label>
                                                                <input type="text" class="form-control" id="add-adminUsername" name="adminUsername" placeholder="아이디를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-adminPassword">비밀번호</label>
                                                                <input type="password" class="form-control" id="add-adminPassword" name="adminPassword" placeholder="비밀번호를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-adminName">이름</label>
                                                                <input type="text" class="form-control" id="add-adminName" name="adminName" placeholder="이름을 입력하세요" required>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">저장</button>
                                                            <button type="reset" class="btn btn-warning">취소</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 회원등록 모달 -->

                                        <!-- 회원수정 모달 -->
                                        <div class="modal fade" id="modifyAdminModal" tabindex="-1" role="dialog" aria-labelledby="modifyAdminModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modifyAdminModalLabel">어드민 정보 수정</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/admin/modifyAdmin}" method="post">
                                                            <div class="form-group">
                                                                <label for="modify-adminUsername">아이디</label>
                                                                <input type="text" class="form-control" id="modify-adminUsername" name="adminUsername" placeholder="아이디를 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-adminPassword">비밀번호</label>
                                                                <input type="password" class="form-control" id="modify-adminPassword" name="adminPassword" placeholder="비밀번호를 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-adminName">이름</label>
                                                                <input type="text" class="form-control" id="modify-adminName" name="adminName" placeholder="이름을 입력하세요"/>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">저장</button>
                                                            <button type="reset" class="btn btn-warning">취소</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 회원수정 모달 -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>



