<tr>
    <th>회계관리 매입 고유번호</th>
    <th>사업장 고유코드</th>
    <th>재고물품고유번호</th>
    <th>사업자 계약관리고유번호</th>
    <th>거래일자</th>
    <th>거래유형</th>
    <th>거래단가</th>
    <th>매입거래량</th>
    <th>결제유형</th>
    <th>금액</th>
    <th>운영자아이디</th>
    <th>수정날짜</th>
    <th>매출 마감 그룹코드</th>
</tr>
private Long accountingPurchaseIdx;
private String username;
private Long companyInfoIdx;
private Long companyIdx;
private Long inventoryIdx;
private Long companyContractIdx;
private String accountingPurchaseDate;
private String accountingPurchaseType;
private int accountingPurchaseUnitPrice;
private double accountingPurchaseAmount;
private String accountingPurchasePayment;
private int accountingPurchaseSum;
private String accountingPurchaseCode;





accounting_purchase_idx
, username
, company_info_idx
, company_idx
, inventory_idx
, company_contract_idx
, accounting_purchase_date
, accounting_purchase_type
, accounting_purchase_unit_price
, accounting_purchase_amount
, accounting_purchase_payment
, accounting_purchase_sum
, accounting_purchase_code

List<FarmPurchase> getListPurchaseAccount();
List<Company> getCompanyIdx();
List<CompanyInfo> getCompanyInfoIdx();
List<Inventory> getInventoryIdx();
List<CompanyContract> getCompanyContractIdx();

import ks46team01.admin.company.contract.entity.CompanyContract;
import ks46team01.admin.company.entity.Company;
import ks46team01.admin.inventory.entity.Inventory;
import ks46team01.common.company.info.entity.CompanyInfo;
import ks46team01.mushroom.mushroomPurchase.dto.FarmPurchase;

List<User> userList = farmPurchaseService.getUserIdx();
List<Company> companyList =farmPurchaseService.getCompanyIdx();
List<CompanyInfo> companyInfoList = farmPurchaseService.getCompanyInfoIdx();
List<Inventory> inventoryList = farmPurchaseService.getInventoryIdx();
List<CompanyContract> companyContractList = farmPurchaseService.getCompanyContractIdx();

private Long accountingPurchaseIdx;
private String username;
private Long companyInfoIdx;
private Long companyIdx;
private Long inventoryIdx;
private Long companyContractIdx;
private String accountingPurchaseDate;
private String accountingPurchaseType;
private int accountingPurchaseUnitPrice;
private double accountingPurchaseAmount;
private String accountingPurchasePayment;
private int accountingPurchaseSum;
private String accountingPurchaseCode;
