/* 조회 */
SELECT
mushroom_condition_idx                  as  mushroomConditionIdx
, crop_idx                              as  cropIdx
, mushroom_condition_temperature        as  mushroomConditionTemperature
, mushroom_condition_humidity           as  mushroomConditionHumidity
, mushroom_condition_oxygen             as mushroomConditionOxygen
, mushroom_condition_co2                as mushroomConditionCo2
, mushroom_condition_illuminance        as mushroomConditionIlluminance
, mushroom_condition_ph                 as mushroomConditionPh
, mushroom_condition_year               as mushroomConditionYear
, mushroom_condition_use                as mushroomConditionUse
FROM
mushroom_condition