private Long pastDataIdx;
private String username;
private Long companyInfoIdx;
private Long cropIdx;
private String pastDataMushroomProduction;
private Integer pastDataTotalRevenue;
private Integer pastDataBadgeUse;
private Integer pastDataYear;
private String pastDataUse;
private String pastDataComparison;
private Timestamp pastDataDate;


<div class="form-group">
    <label for="modify-pastDataDate">pastDataDate</label>
    <input type="text" class="form-control" id="modify-pastDataDate" name="pastDataDate" placeholder="pastDataDate 을 입력하세요"/>
</div>
