<form th:action="@{/mushroom/accountMushroom}" method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="검색 대상을 입력하세요" name="mushroomConditionIdx">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">검색</button>
            <a class="btn btn-outline-secondary" th:href="@{/mushroom/accountMushroom}">초기화</a>
        </div>
    </div>
</form>



<table id="datatable-custom"
       class="table table-striped table-bordered dataTable no-footer dtr-inline"
       style="width: 100%;" role="grid"
       aria-describedby="datatable-buttons_info">





    //검색
    $(document).ready(function() {
    $("#search-form").submit(function(event) {
    event.preventDefault();
    const searchValue = $("input[name='mushroomConditionIdx']").val();
    console.log(searchValue);

    // 테이블에서 검색한 값과 일치하는 행만 보여주도록 처리
    $("#datatable-custom tbody tr").each(function() {
    const mushroomCode = $(this).find("td[data-key='mushroomConditionIdx']").text();
    if (mushroomCode.indexOf(searchValue) !== -1) {
    $(this).show();
    } else {
    $(this).hide();
    }
    });
    });
    });


    $('#datatable-custom').DataTable({
    pagination: false,
    searching: true,
    lengthChange : false
    });

    <option th:value="${c.cropIdx}">[[${c.cropIdx}]]</option>




    $(document).ready(function() {
    // 검색 버튼 클릭 시
    $('#search-btn').click(function(e) {
    e.preventDefault();
    const searchValue = $('input[name="mushroomConditionIdx"]').val().trim().toLowerCase();

    if (searchValue === '') {
    // 검색어가 비어 있을 경우, 모든 행을 보여줌
    $('table tbody tr').show();
    } else {
    // 검색어와 일치하는 행을 찾아 보여줌
    $('table tbody tr').each(function() {
    const mushroomConditionIdx = $(this).find('td[data-key="mushroomConditionIdx"]').text().trim().toLowerCase();
    if (mushroomConditionIdx === searchValue) {
    $(this).show();
    } else {
    $(this).hide();
    }
    });
    }
    });
    });
