<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
  <script>
    document.getElementById("addBtn1").addEventListener("click", function() {
      window.location.href = "/mushroom/add/addDataPastMushroom";
    });
  </script>
</th:block>

<th:block layout:fragment="customContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="my-4">버섯년별 생산량 등록 조회</h2>
        <button id="addBtn1" th:href="@{/mushroom/add/addDataPastMushroom}" class="btn btn-primary"> 등록 </button>
        <button id="addBtn2" th:href="@{/mushroom/add/addDataPastMushroom}" class="btn btn-primary"> 수정 </button>
        <button id="addBtn3" th:href="@{/mushroom/add/addDataPastMushroom}" class="btn btn-primary"> 삭제 </button>
        <button id="addBtn4" th:href="@{/mushroom/add/addDataPastMushroom}" class="btn btn-primary"> 검색기능? </button>
        <button id="addBtn5" th:href="@{/mushroom/add/addDataPastMushroom}" class="btn btn-primary"> 추가 할거 생각해보기 </button>
        <table class="table table-striped table-bordered table-hover">
          <thead class="thead-dark">
          <tr>
            <th>과거버섯데이터 고유코드</th>
            <th>사업자 고유코드</th>
            <th>작물고유코드</th>
            <th>작물종류</th>
            <th>생산량 </th>
            <th>매출합계</th>
            <th>배지사용비용</th>
            <th>년도</th>
            <th>사용유무</th>
            <th>플랫폼사용 전 데이터인데 흠.</th>
            <th>등록날짜</th>

          </tr>
          </thead>
          <tbody>
          <tr th:unless="${fpd == null}"  th:each="l:${fpd}">
            <td th:text="${l.past_data_idx}"></td>
            <td th:text="${l.username}"></td>
            <td th:text="${l.company_info_idx}"></td>
            <td th:text="${l.crop_idx}"></td>
            <td th:text="${l.crop_type}"></td>
            <td th:text="${l.past_data_mushroom_production}"></td>
            <td th:text="${l.past_data_total_revenue}"></td>
            <td th:text="${l.past_data_badge_use}"></td>
            <td th:text="${l.past_data_use}"></td>
            <td th:text="${l.past_data_comparison}"></td>
            <td th:text="${l.past_data_date}"></td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</th:block>
</html>



<resultMap id="FarmCondition"    type="ks46team01.mushroom.mushroomCondition.dto.FarmCondition">
  <id column="mushroom_condition_idx"                  property="mushroomConditionIdx" />
  <result column="crop_idx"                            property="cropIdx" />
  <result column="mushroom_condition_temperature"      property="mushroomConditionTemperature" />
  <result column="mushroom_condition_humidity"         property="mushroomConditionHumidity" />
  <result column="mushroom_condition_oxygen"           property="mushroomConditionOxygen" />
  <result column="mushroom_condition_co2"              property="mushroomConditionCo2" />
  <result column="mushroom_condition_illuminance"      property="mushroomConditionIlluminance" />
  <result column="mushroom_condition_ph"               property="mushroomConditionPh" />
  <result column="mushroom_condition_year"             property="mushroomConditionYear" />
  <result column="mushroom_condition_use"              property="mushroomConditionUse" />
</resultMap>




//조회
@PostMapping("/modifyConditionMushroom")
public String modifyFarmCondition(FarmCondition farmCondition){
farmConditionMapper.modifyFarmCondition(farmCondition);
return  "redirect:/mushroom/conditionMushroom";
}

/mushroom/add/addConditionMushroom"



