<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.mushroom.mushroomFarmData.mapper.FarmDataMapper">

    <select id="getFarmData" resultType="ks46team01.mushroom.mushroomFarmData.mapper.FarmDataMapper">

        SELECT
            farm_data_idx
            , username
            , company_info_idx
            , farm_data_compost
            , farm_data_production
            , farm_data_expected_sale
            , farm_data_actual_sale
            , farm_data_production_date
            , farm_data_occurrence_sale_date
            , farm_data_expected_wasted
            , farm_data_date


        FROM
        mushroom_farm_data
    </select>
</mapper>