<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.mushroom.mushroomFarmData.mapper.FarmDataMapper">

    <resultMap type="ks46team01.mushroom.mushroomFarmData.dto.FarmData" id="farmDataResultMap">
        <id column="farm_data_idx"                      property="farmDataIdx"/>
        <result column="username"                       property="username" />
        <result column="company_info_idx"               property="companyInfoIdx" />
        <result column="farm_data_compost"              property="farmDataCompost" />
        <result column="farm_data_production"           property="farmDataProduction" />
        <result column="farm_data_expected_sale"        property="farmDataExpectedSale" />
        <result column="farm_data_actual_sale"          property="farmDataActualSale" />
        <result column="farm_data_production_date"      property="farmDataProductionDate" />
        <result column="farm_data_occurrence_sale_date" property="farmDataOccurrenceSaleDate" />
        <result column="farm_data_expected_wasted"      property="farmDataExpectedWasted" />
        <result column="farm_data_date"                 property="farmDataDate"/>
    </resultMap>



    <select id="findAllFarmData" resultType="ks46team01.mushroom.mushroomFarmData.dto.FarmData">
        SELECT
            *
        FROM
        mushroom_farm_data
    </select>

    <select id="getSearchFarmData" parameterType="String" resultType="ks46team01.mushroom.mushroomFarmData.dto.FarmData" >
        SELECT
            farm_data_idx
            , username
            , company_info_idx
            , farm_data_compost
            , farm_data_production
            , farm_data_expected_sale
            , farm_data_actual_sale
            , farm_data_production_date
            , farm_data_occurrence_sale_date
            , farm_data_expected_wasted
            , farm_data_date
        FROM
             mushroom_farm_data
        <where>
            <if test="searchKey != null and searchKey != '' ">
               ${searchKey} LIKE CONCAT('%', #{searchValue},'%')
            </if>
        </where>
    </select>
</mapper>