<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>
<th:block layout:fragment="customJs">
  <script>
    $(function() {
      //alert('제이쿼리')
      function validationCheck(ele) {
        let data = $(ele).val();
        let isValid = true;
        if (typeof data == 'undefined' || data == null || data === '') {
          isValid = false;
        }
        return isValid;
      }


      $('#submitBtn').click(function () {
        const addConditionMushroomForm = $('#addConditionMushroomForm');
        const inputGroup = $('#addConditionMushroomForm input');
        let isSubmit = true;
        inputGroup.each(function (idx, item) {
          isSubmit = validationCheck(item);
          if (!isSubmit) {
            let msg = $(item).parents('tr').find('label').text();
            alert(msg + '입력해주세요.');
            $(item).focus();
            return false;
          } else if (item.id === 'crop_idx' && !Number.isInteger(parseInt(item.value))) {
            alert('유효한 crop_idx를 입력해주세요.');
            $(item).focus();
            isSubmit = false;
            return false;
          }

        });
        if (isSubmit) addConditionMushroomForm.submit();
      });
    });

  </script>
</th:block>

<th:block layout:fragment="customContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="my-4">버섯 생육 최적조건 </h2>

        <form id="addConditionMushroomForm" th:action="@{/mushroom/add/addConditionMushroom}" method="post">
          <table class="table table-striped table-bordered table-hover">

            <tbody>
            <tr>
              <td class="labeltd">
                <label for="ConditionIdx">버섯종류 코드</label>
              </td>
              <td colspan="2">
                <input type="text" id="ConditionIdx"
                       name="ConditionIdx" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="Crop">작물 코드</label>
              </td>
              <td colspan="2">
                <select id="Crop" name="Crop">
                  <th:block th:unless="${farmCondition == null}"
                            th:each="l : ${farmCondition}">
                    <option th:value="${l.crop_idx}">[[${l.crop_idx}]]</option>
                  </th:block>
                  <th:block th:if="${farmCondition == null}">
                    <option>등록된 작물이 없습니다.</option>
                  </th:block>
                </select>
              </td>
            </tr>


            <tr>
              <td class="labeltd">
                <label for="temperature">온도</label>
              </td>
              <td colspan="2">
                <input type="text" id="temperature"
                       name="temperature" placeholder="  온도" />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="humidity">습도</label>
              </td>
              <td colspan="2">
                <input type="text" id="humidity"
                       name="humidity" placeholder="  습도" />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="oxygen">산소</label>
              </td>
              <td colspan="2">
                <input type="text" id="oxygen"
                       name="oxygen" placeholder="  산소" />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="co2">이산화탄소농도</label>
              </td>
              <td colspan="2">
                <input type="text" id="co2"
                       name="co2" placeholder="  이산화탄소농도" />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="illuminance">조도</label>
              </td>
              <td colspan="2">
                <input type="text" id="illuminance"
                       name="illuminance" placeholder="  조도"  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="ph">수소 이온 농도지수</label>
              </td>
              <td colspan="2">
                <input type="text" id="ph"
                       name="ph" placeholder="  수소 이온 농도지수 " />
              </td>
            </tr>



            <tr>
                <td colspan="3">
                  <button type="button" id="submitBtn" >등록</button>
                  <button type="reset" id="resetBtn" >입력취소</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</th:block>
</html>
