<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>




<th:block layout:fragment="customContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="my-4">버섯재배 상세정보</h2>
        <form id="addDataFarmMushroomInfo" th:action="@{/mushroom/add/addDataFarmMushroom}" method="post">
          <table class="table table-striped table-bordered table-hover">
            <tbody>
            <tr>
              <td class="labeltd">
                <label for="farm_data_idx">농가재배 정보 등록 고유코드</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_idx"
                       name="farm_data_idx" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="username">회원고유번호</label>
              </td>
              <td colspan="2">
                <input type="text" id="username"
                       name="username" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="company_info_idx">사업자 고유번호</label>
              </td>
              <td colspan="2">
                <input type="text" id="company_info_idx"
                       name="company_info_idx" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="farm_data_compost">재배규모(배지기준)</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_compost"
                       name="farm_data_compost" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="farm_data_production">일 버섯 생산량</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_production"
                       name="farm_data_production" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="farm_data_expected_sale">매출 예상치</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_expected_sale"
                       name="farm_data_expected_sale" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="farm_data_actual_sale">실 발생 매출</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_actual_sale"
                       name="farm_data_actual_sale" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="farm_data_production_date">생산 일자</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_production_date"
                       name="farm_data_production_date" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="farm_data_occurrence_sale_date">매출 발생 일자</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_occurrence_sale_date"
                       name="farm_data_occurrence_sale_date" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="farm_data_expected_wasted">예상 폐배지 수량</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_expected_wasted"
                       name="farm_data_expected_wasted" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td class="labeltd">
                <label for="farm_data_date">등록일자</label>
              </td>
              <td colspan="2">
                <input type="text" id="farm_data_date"
                       name="farm_data_date" placeholder=" ???을 입력해주세요."  />
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <button type="button" id="submitBtn" >등록</button>
                <button type="reset" id="resetBtn" >입력취소</button>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</th:block>
</html>
