<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team01.mushroom.mushroomGrowth.mapper.FarmMushroomGrowthMapper">

    <resultMap id="mushroomGrowthResultMap" type="ks46team01.mushroom.mushroomGrowth.dto.FarmMushroomGrowth">
        <id column="mushroom_growth_idx"            property="mushroomGrowthIdx"/>
        <result column="username"                   property="username"/>
        <result column="company_info_idx"           property="companyInfoIdx"/>
        <result column="farm_data_idx"              property="farmDataIdx"/>
        <result column="crop_idx"                   property="cropIdx"/>
        <result column="mushroom_growth_daily"      property="mushroomGrowthDaily"/>
        <result column="mushroom_growth_status"     property="mushroomGrowthStatus"/>
        <result column="mushroom_growth_date"       property="mushroomGrowthDate"/>
        <result column="mushroom_growth_content"    property="mushroomGrowthContent"/>
    </resultMap>

    <select id="getFarmMushroomGrowth" resultType="ks46team01.mushroom.mushroomGrowth.dto.FarmMushroomGrowth">
        SELECT
            mushroom_growth_idx         as mushroomGrowthIdx
            , username                  as username
            , company_info_idx          as companyInfoIdx
            , farm_data_idx             as farmDataIdx
            , crop_idx                  as cropIdx
            , mushroom_growth_daily     as mushroomGrowthDaily
            , mushroom_growth_status    as mushroomGrowthStatus
            , mushroom_growth_date      as mushroomGrowthDate
            , mushroom_growth_content   as mushroomGrowthContent
        FROM
            mushroom_growth
    </select>


    <select id="getMushroomGrowthInfoById" parameterType="String" resultMap="mushroomGrowthResultMap">
        SELECT
        mushroom_growth_idx
        , username
        , company_info_idx
        , farm_data_idx
        , crop_idx
        , mushroom_growth_daily
        , mushroom_growth_status
        , mushroom_growth_date
        , mushroom_growth_content
        FROM
        mushroom_growth
        <where>
            <if test="searchKey != null and searchKey != ''">
                AND ${searchKey} LIKE CONCAT('%', #{searchValue},'%')
            </if>
        </where>
    </select>



</mapper>
