<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team01.user.compost.mapper.UserCompostMapper">
    <insert id="insertOrderCompost" parameterType="hashmap">
        <!-- 커피배지 수거신청-->
        INSERT INTO order_compost(
        username,
        company_contract_idx,
        company_info_idx,
        inventory_idx,
        order_compost_amount,
        order_compost_phone,
        order_compost_address,
        order_compost_content,
        order_compost_date)
        VALUES(#{userId},#{companyContractIdx},#{companyInfoIdx},#{InventoryIdx},#{amount},#{phone},#{address},#{message},now());
    </insert>
    <select id="userCompanyInfo" parameterType="String" resultType="ks46team01.common.compost.dto.CompanyContract">
        <!-- 농가 사업자 정보 -->
        SELECT
        ci.inventory_idx as inventoryIdx,
        ci.company_info_idx as companyInfoIdx,
        cc.company_contract_idx as companyContractIdx
        FROM company_contract cc
        INNER JOIN company_info ci
        ON ci.company_info_idx = cc.company_info_idx
        INNER JOIN inventory i
        ON i.inventory_idx = ci.inventory_idx
        WHERE ci.username = #{userId};
    </select>
    <select id="userConfirmList" parameterType="String" resultType="ks46team01.common.compost.dto.OrderCompostConfirm">
        SELECT
        ci.company_info_name AS companyInfoName,
        oc.order_compost_phone AS orderCompostPhone,
        oc.order_compost_address AS orderCompostAddress,
        oc.order_compost_amount AS orderCompostAmount,
        oc.order_compost_date AS orderCompostDate,
        COALESCE(occ.order_compost_confirm_status, '대기중') AS orderCompostConfirmStatus
        FROM
        order_compost oc
        LEFT JOIN order_compost_confirm occ
        ON oc.order_compost_idx = occ.order_compost_confirm_idx
        LEFT JOIN company_info ci
        ON ci.company_idx = oc.company_info_idx WHERE ci.username  = #{userId};
    </select>
    <select id="userCompostDeliveryList" parameterType="String" resultType="ks46team01.common.compost.dto.OrderCompostDelivery">
        SELECT
        ci.company_info_name AS companyInfoName,
        oc.order_compost_phone AS orderCompostPhone,
        oc.order_compost_address AS orderCompostAddress,
        oc.order_compost_amount AS orderCompostAmount,
        oc.order_compost_date AS orderCompostDate,
        ocd.order_compost_delivery_status AS orderCompostDeliveryStatus
        FROM
        order_compost_delivery ocd
        INNER JOIN company_info ci
        ON ci.company_info_idx = ocd.company_info_idx
        INNER JOIN order_compost oc
        ON oc.order_compost_idx = ocd.order_compost_idx
        WHERE ocd.username = #{userId};
    </select>
</mapper>