<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
    <script>
        $(document).ready(function () {

            $('body').on('click', '.add-button', function () {
                const row = $(this).closest('tr');
                const farmDataIdx = row.find('td[data-key="farmDataIdx"]').text();
                const username = row.find('td[data-key="username"]').text();
                const companyInfoIdx = row.find('td[data-key="companyInfoIdx"]').text();
                const farmDataCompost = row.find('td[data-key="farmDataCompost"]').text();
                const farmDataProduction = row.find('td[data-key="farmDataProduction"]').text();
                const farmDataExpectedSale = row.find('td[data-key="farmDataExpectedSale"]').text();
                const farmDataActualSale = row.find('td[data-key="farmDataActualSale"]').text();
                const farmDataProductionDate = row.find('td[data-key="farmDataProductionDate"]').text();
                const farmDataOccurrenceSaleDate = row.find('td[data-key="farmDataOccurrenceSaleDate"]').text();
                const farmDataExpectedWasted = row.find('td[data-key="farmDataExpectedWasted"]').text();


                $('#add-farmDataIdx').val(farmDataIdx);
                $('#add-username').val(username);
                $('#add-companyInfoIdx').val(companyInfoIdx);
                $('#add-farmDataCompost').val(farmDataCompost);
                $('#add-farmDataProduction').val(farmDataProduction);
                $('#add-farmDataExpectedSale').val(farmDataExpectedSale);
                $('#add-farmDataActualSale').val(farmDataActualSale);
                $('#add-farmDataProductionDate').val(farmDataProductionDate);
                $('#add-farmDataOccurrenceSaleDate').val(farmDataOccurrenceSaleDate);
                $('#add-farmDataExpectedWasted').val(farmDataExpectedWasted);

                // 모달 보여짐
                $('#addFarmDataMushroomModal').modal('show');


            })



            $('body').on('click', '.edit-button', function () {
                const row = $(this).closest('tr');
                const farmDataIdx = row.find('td[data-key="farmDataIdx"]').text();
                const username = row.find('td[data-key="username"]').text();
                const companyInfoIdx = row.find('td[data-key="companyInfoIdx"]').text();
                const farmDataCompost = row.find('td[data-key="farmDataCompost"]').text();
                const farmDataProduction = row.find('td[data-key="farmDataProduction"]').text();
                const farmDataExpectedSale = row.find('td[data-key="farmDataExpectedSale"]').text();
                const farmDataActualSale = row.find('td[data-key="farmDataActualSale"]').text();
                const farmDataProductionDate = row.find('td[data-key="farmDataProductionDate"]').text();
                const farmDataOccurrenceSaleDate = row.find('td[data-key="farmDataOccurrenceSaleDate"]').text();
                const farmDataExpectedWasted = row.find('td[data-key="farmDataExpectedWasted"]').text();


                $('#modify-farmDataIdx').val(farmDataIdx);
                $('#modify-username option[value="' + username + '"]').prop('selected', true);
                $('#modify-companyInfoIdx option[value="' + companyInfoIdx + '"]').prop('selected', true);
                $('#modify-farmDataCompost').val(farmDataCompost);
                $('#modify-farmDataProduction').val(farmDataProduction);
                $('#modify-farmDataExpectedSale').val(farmDataExpectedSale);
                $('#modify-farmDataActualSale').val(farmDataActualSale);
                $('#modify-farmDataProductionDate').val(farmDataProductionDate);
                $('#modify-farmDataOccurrenceSaleDate').val(farmDataOccurrenceSaleDate);
                $('#modify-farmDataExpectedWasted').val(farmDataExpectedWasted);

                // 모달 보여짐
                $('#modifyFarmDataMushroomModal').modal('show');
            });

            $('body').on('click', '.delete-button', function () {
                const farmDataIdx = $(this).closest('tr').find('td[data-key="farmDataIdx"]').text();

                $.ajax({
                    type: 'POST',
                    url: '/mushroom/delete/deleteDataFarmMushroom',
                    data: { farmDataIdx: farmDataIdx },
                    success: function (response) {
                        alert('삭제 성공');
                        location.href = '/mushroom/listDataFarmMushroom'; // 페이지 다시 로드
                        $('button[data-farmDataIdx="' + farmDataIdx + '"]').closest('tr').remove();
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 500 && xhr.responseText.includes('java.sql.SQLIntegrityConstraintViolationException')) {
                            alert('사용중인 정보입니다.');
                        } else {
                            alert('삭제 실패');
                        }
                    }
                });
            });


            $('#datatable-custom').DataTable({
                pagination: false,
                searching: false,
                lengthChange : false
            })
        })

        $(document).ready(function() {
            // 검색 버튼 클릭 시
            $('#search-btn').click(function(e) {
                e.preventDefault();
                const searchType = $('select.form-select').val();
                const searchValue = $('input.form-control').val().trim().toLowerCase();

                if (searchValue === '') {
                    // 검색어가 비어 있을 경우, 모든 행을 보여줌
                    $('table tbody tr').show();
                } else {
                    // 검색어와 유사한 값을 포함하는 행을 찾아 보여줌
                    $('table tbody tr').each(function() {
                        let searchKey = '';
                        switch (searchType) {
                            case '1':
                                searchKey = 'farmDataIdx';
                                break;
                            case '2':
                                searchKey = 'username';
                                break;
                            case '3':
                                searchKey = 'companyInfoIdx';
                                break;
                            default:
                                break;
                        }
                        const columnValue = $(this).find(`td[data-key="${searchKey}"]`).text().trim().toLowerCase();
                        if (columnValue.includes(searchValue)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
            });
        });





    </script>

</th:block>

<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="my-4">버섯 재배 생산량 상세 등록조회</h2>
                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <form th:action="@{/mushroom/listDataFarmMushroom}" method="get">
                                <div class="input-group">
                                    <select class="form-select" size="1" aria-label="size 3 select example">
                                        <option selected>선택</option>
                                        <option value="1">농가재배 정보 등록 고유코드</option>
                                        <option value="2">회원고유번호</option>
                                        <option value="3">사업자 고유번호</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="검색어를 입력하세요">
                                    <div class="input-group-append">
                                        <button  id="search-btn" class="btn btn-outline-secondary" type="submit">검색</button>
                                        <a class="btn btn-outline-secondary" th:href="@{/mushroom/listDataFarmMushroom}">초기화</a>
                                    </div>
                                </div>
                            </form>
                            <div style="display: flex;">
                                <button class="add-button" type="submit">등록</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">
                                    <div id="datatable-buttons_wrapper"
                                         class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
                                        <table id="datatable-custom"
                                               class="table table-striped table-bordered dataTable no-footer dtr-inline"
                                               style="width: 100%;" role="grid"
                                               aria-describedby="datatable-buttons_info">
                                            <thead>
                                            <tr role="row">
                                                <th>농가재배 정보 등록 고유코드</th>
                                                <th>회원고유번호</th>
                                                <th>사업자 고유번호</th>
                                                <th>재배규모(배지기준)</th>
                                                <th>일 버섯 생산량</th>
                                                <th>매출 예상치 (₩)</th>
                                                <th>실 발생 매출 (₩)</th>
                                                <th>생산 일자</th>
                                                <th>매출 발생 일자</th>
                                                <th>예상 폐배지 수량</th>
                                                <th>최종 입력 일자</th>
                                                <th>수정</th>
                                                <th>삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd" th:each="fd:${farmData}" >
                                                <td data-key="farmDataIdx" th:text="${fd.farmDataIdx}"></td>
                                                <td data-key="username" th:text="${fd.name}"></td>
                                                <td data-key="companyInfoIdx" th:text="${fd.companyInfoLicenseNumber}"></td>
                                                <td data-key="farmDataCompost" th:text="${fd.farmDataCompost}"></td>
                                                <td data-key="farmDataProduction" th:text="${fd.farmDataProduction}"></td>
                                                <td data-key="farmDataExpectedSale" th:text="${fd.farmDataExpectedSale}"></td>
                                                <td data-key="farmDataActualSale" th:text="${fd.farmDataActualSale}"></td>
                                                <td data-key="farmDataProductionDate" th:text="${fd.farmDataProductionDate}"></td>
                                                <td data-key="farmDataOccurrenceSaleDate" th:text="${fd.farmDataOccurrenceSaleDate}"></td>
                                                <td data-key="farmDataExpectedWasted" th:text="${fd.farmDataExpectedWasted}"></td>
                                                <td data-key="pastDataDate" th:text="${#strings.substring(fd.farmDataDate, 0, 10)}"></td>

                                                <td>
                                                    <button type="button" class="edit-button">수정</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="delete-button">삭제</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!-- 회원등록 모달 -->

                                        <div class="modal fade" id="addFarmDataMushroomModal" tabindex="-1" role="dialog" aria-labelledby="addFarmDataMushroomModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="addFarmDataMushroomModalLabel">등록</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>


                                                    <div class="modal-body">
                                                        <form th:action="@{/mushroom/add/addDataFarmMushroom}" method="post">
                                                            <input type="hidden" id="add-farmDataIdx" name="farmDataIdx">

                                                            <div class="form-group">
                                                                <label for="add-username">usernameInfo</label>
                                                                <select class="form-control" id="add-username" name="username"  required>
                                                                    <option value="" disabled selected>usernameInfo 을 선택하세요</option>
                                                                    <th:block th:each="u : ${usernameInfo}">
                                                                        <option th:value="${u.username}">[[${u.name}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="add-companyInfoIdx">companyInfo</label>
                                                                <select class="form-control" id="add-companyInfoIdx" name="companyInfoIdx"  required>
                                                                    <option value="" disabled selected> companyInfo 을 선택하세요</option>
                                                                    <th:block th:each="c : ${companyInfo}">
                                                                        <option th:value="${c.companyInfoIdx}">[[${c.companyInfoLicenseNumber}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>


                                                            <div class="form-group">
                                                                <label for="add-farmDataCompost">farmDataCompost</label>
                                                                <input type="number" class="form-control" id="add-farmDataCompost" name="farmDataCompost" placeholder="farmDataCompost 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-farmDataProduction">farmDataProduction</label>
                                                                <input type="number" class="form-control" id="add-farmDataProduction" name="farmDataProduction" placeholder="farmDataProduction 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-farmDataExpectedSale">farmDataExpectedSale</label>
                                                                <input type="number" class="form-control" id="add-farmDataExpectedSale" name="farmDataExpectedSale" placeholder="farmDataExpectedSale 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-farmDataActualSale">farmDataActualSale</label>
                                                                <input type="number" class="form-control" step="0.01" id="add-farmDataActualSale" name="farmDataActualSale" placeholder="farmDataActualSale 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-farmDataProductionDate">farmDataProductionDate</label>
                                                                <input type="date" class="form-control" id="add-farmDataProductionDate" name="farmDataProductionDate" placeholder="farmDataProductionDate 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-farmDataOccurrenceSaleDate">farmDataOccurrenceSaleDate</label>
                                                                <input type="date" class="form-control" id="add-farmDataOccurrenceSaleDate" name="farmDataOccurrenceSaleDate" placeholder="farmDataOccurrenceSaleDate 를 입력하세요" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="add-farmDataExpectedWasted">farmDataExpectedWasted</label>
                                                                <input type="number" class="form-control"  step="0.01" id="add-farmDataExpectedWasted" name="farmDataExpectedWasted" placeholder="farmDataExpectedWasted 를 입력하세요" required>
                                                            </div>

                                                            <button type="submit" class="btn btn-primary">입력</button>
                                                            <button type="reset" class="btn btn-warning">취소</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 회원등록 모달 -->

                                        <!-- 회원수정 모달 -->
                                        <div class="modal fade" id="modifyFarmDataMushroomModal" tabindex="-1" role="dialog" aria-labelledby="modifyFarmDataMushroomModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modifyFarmDataMushroomModalLabel"> 수정</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/mushroom/modify/modifyDataFarmMushroom}" method="post">
                                                            <input type="hidden" id="modify-farmDataIdx" name="farmDataIdx">

                                                            <div class="form-group">
                                                                <label for="modify-username">사용자 이름</label>
                                                                <select class="form-control" id="modify-username" name="username"  required>
                                                                    <option value="" disabled selected>usernameInfo 을 선택하세요</option>
                                                                    <th:block th:each="u : ${usernameInfo}">
                                                                        <option th:value="${u.username}" >[[${u.name}]]</option>
                                                                    </th:block>

                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-companyInfoIdx">사용자 이름</label>
                                                                <select class="form-control" id="modify-companyInfoIdx" name="companyInfoIdx"  required>
                                                                    <option value="" disabled selected> companyInfo 을 선택하세요</option>
                                                                    <th:block th:each="c : ${companyInfo}">
                                                                        <option th:value="${c.companyInfoIdx}">[[${c.companyInfoLicenseNumber}]]</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>


                                                            <div class="form-group">
                                                                <label for="modify-farmDataCompost">farmDataCompost</label>
                                                                <input type="text" class="form-control" id="modify-farmDataCompost" name="farmDataCompost" placeholder="farmDataCompost 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-farmDataProduction">farmDataProduction</label>
                                                                <input type="text" class="form-control" id="modify-farmDataProduction" name="farmDataProduction" placeholder="farmDataProduction 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-farmDataExpectedSale">farmDataExpectedSale</label>
                                                                <input type="text" class="form-control" id="modify-farmDataExpectedSale" name="farmDataExpectedSale" placeholder="farmDataExpectedSale 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-farmDataActualSale">farmDataActualSale</label>
                                                                <input type="text" class="form-control" id="modify-farmDataActualSale" name="farmDataActualSale" placeholder="farmDataActualSale 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-farmDataProductionDate">farmDataProductionDate</label>
                                                                <input type="date" class="form-control" id="modify-farmDataProductionDate" name="farmDataProductionDate" placeholder="farmDataProductionDate 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-farmDataOccurrenceSaleDate">farmDataOccurrenceSaleDate</label>
                                                                <input type="date" class="form-control" id="modify-farmDataOccurrenceSaleDate" name="farmDataOccurrenceSaleDate" placeholder="farmDataOccurrenceSaleDate 을 입력하세요"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="modify-farmDataExpectedWasted">farmDataExpectedWasted</label>
                                                                <input type="text" class="form-control" id="modify-farmDataExpectedWasted" name="farmDataExpectedWasted" placeholder="farmDataExpectedWasted 을 입력하세요"/>
                                                            </div>



                                                            <button type="submit" class="btn btn-primary">저장</button>
                                                            <button type="reset" class="btn btn-warning">취소</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 회원수정 모달 -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>



