<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team01.admin.accounting.purchase.mapper.AcPurchaseMapper">

    <resultMap id="AcPurchase" type="ks46team01.admin.accounting.purchase.dto.AcPurchase">
        <id column="accounting_purchase_admin_idx"              property="accountingPurchaseAdminIdx"/>
        <result column="company_idx"                            property="companyIdx"/>
        <result column="inventory_idx"                          property="inventoryIdx"/>
        <result column="company_contract_idx"                   property="companyContractIdx"/>
        <result column="accounting_purchase_admin_date"         property="accountingPurchaseAdminDate"/>
        <result column="accounting_purchase_admin_price"        property="accountingPurchaseAdminPrice"/>
        <result column="accounting_purchase_admin_amount"       property="accountingPurchaseAdminAmount"/>
        <result column="accounting_purchase_admin_payment"      property="accountingPurchaseAdminPayment"/>
        <result column="accounting_purchase_admin_sum"          property="accountingPurchaseAdminSum"/>
        <result column="admin_username"                         property="adminUsername"/>
        <result column="accounting_purchase_admin_update"       property="accountingPurchaseAdminUpdate"/>
    </resultMap>

    <select id="getAcPurchase" resultType="ks46team01.admin.accounting.purchase.dto.AcPurchase">
        /* 조회 */
        SELECT
            apa.accounting_purchase_admin_idx           as accountingPurchaseAdminIdx
            , apa.company_idx                           as companyIdx
            , apa.inventory_idx                         as inventoryIdx
            , apa.company_contract_idx                  as companyContractIdx
            , apa.accounting_purchase_admin_date        as accountingPurchaseAdminDate
            , apa.accounting_purchase_admin_price       as accountingPurchaseAdminPrice
            , apa.accounting_purchase_admin_amount      as accountingPurchaseAdminAmount
            , apa.accounting_purchase_admin_payment     as accountingPurchaseAdminPayment
            , apa.accounting_purchase_admin_sum         as accountingPurchaseAdminSum
            , apa.admin_username                        as adminUsername
            , apa.accounting_purchase_admin_update      as accountingPurchaseAdminUpdate
        FROM accounting_purchase_admin apa
        INNER JOIN company c
            ON apa.company_idx = c.company_idx
        INNER JOIN inventory i
            ON apa.inventory_idx = i.inventory_idx
        INNER JOIN company_contract cc
            ON apa.company_contract_idx = cc.company_contract_idx
        INNER JOIN admin a
            ON apa.admin_username = a.admin_username
    </select>

    <select id="getCompany" resultType="ks46team01.admin.company.entity.Company">
        SELECT
            company_idx         as companyIdx
            , company_type      as companyType
            , admin_username    as companyUsername
        FROM company
    </select>

    <select id="getInventory" resultType="ks46team01.common.compost.dto.Inventory">
        SELECT
            inventory_idx           as inventoryIdx
            , inventory_type        as inventoryType
        FROM inventory
    </select>
    <select id="getCompanyContract" resultType="ks46team01.common.company.contract.dto.CompanyContractDTO">
        SELECT
        company_contract_idx                    as companyContractIdx
        , company_contract_delivery_term        as companyContractDeliveryTerm
        , company_contract_start                as companyContractStart
        , company_contract_end                  as companyContractEnd
        , company_contract_amount               as companyContractAmount
        FROM company_contract
    </select>

    <select id="getAdmin" resultType="ks46team01.admin.info.dto.AdminDTO">
        SELECT
        admin_username  as adminUsername
        , admin_name    as adminName
        FROM admin
    </select>

    <insert id="addAcPurchase" parameterType="ks46team01.admin.accounting.purchase.dto.AcPurchase">
        /* 입력 */
        INSERT INTO         accounting_purchase_admin
        (accounting_purchase_admin_idx
        , company_idx
        , inventory_idx
        , company_contract_idx
        , accounting_purchase_admin_date
        , accounting_purchase_admin_price
        , accounting_purchase_admin_amount
        , accounting_purchase_admin_payment
        , accounting_purchase_admin_sum
        , admin_username
        , accounting_purchase_admin_update)
        VALUES
        (
        #{accountingPurchaseAdminIdx}
        ,#{companyIdx}
        ,#{inventoryIdx}
        ,#{companyContractIdx}
        ,#{accountingPurchaseAdminDate}
        ,#{accountingPurchaseAdminPrice}
        ,#{accountingPurchaseAdminAmount}
        ,#{accountingPurchaseAdminPayment}
        ,#{accountingPurchaseAdminSum}
        ,#{adminUsername}
        ,curdate()
        )
    </insert>

    <select id="getAcPurchaseInfoByModifyId" parameterType="String" resultMap="AcPurchase">
        /* 수정대상 조회 */
        SELECT
            accounting_purchase_admin_idx
            , company_idx
            , inventory_idx
            , company_contract_idx
            , accounting_purchase_admin_date
            , accounting_purchase_admin_price
            , accounting_purchase_admin_amount
            , accounting_purchase_admin_payment
            , accounting_purchase_admin_sum
            , admin_username
            , accounting_purchase_admin_update
        FROM
             accounting_purchase_admin
        WHERE
             accounting_purchase_admin_idx = #{accountingPurchaseAdminIdx}
    </select>

    <update id="modifyAcPurchase" parameterType="ks46team01.admin.accounting.purchase.dto.AcPurchase">
        /* 수정 */
        UPDATE accounting_purchase_admin
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyIdx != null and companyIdx != ''">
                company_idx = #{companyIdx},
            </if>
            <if test="inventoryIdx != null and inventoryIdx != ''">
                inventory_idx = #{inventoryIdx},
            </if>
            <if test="companyContractIdx != null and companyContractIdx != ''">
                company_contract_idx = #{companyContractIdx},
            </if>
            <if test="accountingPurchaseAdminDate != null and accountingPurchaseAdminDate != ''">
                accounting_purchase_admin_date = #{accountingPurchaseAdminDate},
            </if>
            <if test="accountingPurchaseAdminPrice != null and accountingPurchaseAdminPrice != ''">
                accounting_purchase_admin_price = #{accountingPurchaseAdminPrice},
            </if>
            <if test="accountingPurchaseAdminAmount != null and accountingPurchaseAdminAmount != ''">
                accounting_purchase_admin_amount = #{accountingPurchaseAdminAmount},
            </if>
            <if test="accountingPurchaseAdminPayment != null and accountingPurchaseAdminPayment != ''">
                accounting_purchase_admin_payment = #{accountingPurchaseAdminPayment},
            </if>
            <if test="accountingPurchaseAdminSum != null and accountingPurchaseAdminSum != ''">
                accounting_purchase_admin_sum = #{accountingPurchaseAdminSum},
            </if>
            <if test="adminUsername != null and adminUsername != ''">
                admin_username = #{adminUsername},
            </if>
            <if test="accountingPurchaseAdminUpdate != null and accountingPurchaseAdminUpdate != ''">
                accounting_purchase_admin_update = #{accountingPurchaseAdminUpdate},
            </if>
        </trim>
            WHERE
            accounting_purchase_admin_idx = #{accountingPurchaseAdminIdx}
    </update>

    <select id="getAcPurchaseInfoByDeleteId" parameterType="Long" resultMap="AcPurchase">
    /* 삭제 대상 회원 조회*/
    SELECT
        accounting_purchase_admin_idx
        , company_idx
        , inventory_idx
        , company_contract_idx
        , accounting_purchase_admin_date
        , accounting_purchase_admin_price
        , accounting_purchase_admin_amount
        , accounting_purchase_admin_payment
        , accounting_purchase_admin_sum
        , admin_username
        , accounting_purchase_admin_update
    FROM
        accounting_purchase_admin
    WHERE
        accounting_purchase_admin_idx = #{accountingPurchaseAdminIdx}
    </select>

    <delete id="deleteAcPurchaseByIdx" parameterType="ks46team01.admin.accounting.purchase.dto.AcPurchase">
        /*삭제*/
        DELETE
        FROM
              accounting_purchase_admin
        WHERE
            accounting_purchase_admin_idx = #{accountingPurchaseAdminIdx}
    </delete>


</mapper>