<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <script> <!-- 버튼클릭시 테이블 전체선택 -->
  const checkAll = document.getElementById("check-all");
  const checkboxes = document.querySelectorAll("#datatable-checkbox tbody input[type='checkbox']");

  checkAll.addEventListener("click", () => {
    checkboxes.forEach(checkbox => {
      checkbox.checked = checkAll.checked;
    });
  });
  </script>
</head>
<th:block layout:fragment="customContent">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>승인페이지</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Settings 1</a>
              <a class="dropdown-item" href="#">Settings 2</a>
            </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box table-responsive">
              <p class="text-muted font-13 m-b-30">
                <code>승인신청확인 페이지</code>
              </p>
              <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                  <div class="input-group">
                    <select class="form-select" size="1" aria-label="size 3 select example">
                      <option selected>선택</option>
                      <option value="1">농장명</option>
                      <option value="2">농장주소</option>
                      <option value="3">승인상태</option>
                    </select>
                    <input type="text" class="form-control" placeholder="검색어를 입력하세요.">
                    <span class="input-group-btn">
										<button class="btn btn-default" type="button">검색</button>
									</span>
                  </div>
                </div>
              </div>
              <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
                <thead>
                <tr>
                  <th>
                    전체
                  <th><input type="checkbox" id="check-all" ></th>
                  </th>
                  <th>농가명</th>
                  <th>수거 담당자 번호</th>
                  <th>농가 주소</th>
                  <th>중량</th>
                  <th>승인신청 날짜</th>
                  <th>승인상태</th>
                </tr>
                </thead>


                <tbody>
                <tr>
                  <td>
                    개별
                  <th><input type="checkbox" id="check-all" ></th>
                  </td>
                  <td>팜하니</td>
                  <td>010-1234-5678</td>
                  <td>전라남도 장성군 장성읍 단풍로 72</td>
                  <td>15kg</td>
                  <td>2011/04/25</td>
                  <td>승인확인</td>
                </tr>
                <tr>
                  <td>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>